<%inherit file="../../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>


<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-title">
                    <span class="brand-primary">Your product</span>
                </h1>
            </div>
        </div>
        <div class="row mar-top-2">
            <div class="col-lg-3 pull-right">
                ${self.wtfBox()}
            </div>
            <div class="col-lg-9">
                ${self.bodyContent()}
            </div>
        </div>
    </div>
</%def>



<%def name="bodyContent()">
    <div class="box-dark">
        <div class="box-content">
            ${self.build_form(view.form, values.get(view.form.id), errors.get(view.form.id))}
        </div>
    </div>
</%def>



<%def name="build_form(form, values, errors)">
    <form class="${form.grid.form_classes}" id="${form.id}" method="POST">
        ${baseform.prelims(form)}
        %for field in view.form.fields:
            ${field.render(form.id, request, values, errors, view, grid = form.grid)|n}
        %endfor
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="${url(ctxt)}" class="btn btn-default">Cancel</a>

    </form>
</%def>


<%def name="post_scripts()">
    <script type="text/javascript">
        (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
    </script>
    <script>
        require(["form"], function(View){
            filepicker.setKey('A0Me4BRKSLSnOkrY6Jb2xz');
            $(".form-validated").each(function(idx, form){
                new View({el:form,validatorOpts: {ignore: ".super-valid"}})
            });
        });
    </script>
</%def>

<%def name="wtfBox()">
<div class="wtf-box">
    <h2 class="wtf-title">
        Want to find customers??
    </h2>
    <div class="wtf-content">
        <p>Once you have filled this out you will have an awesome looking product page which you can share.</p>
        <p>Later you will add 'offers' to your product. These are variations of the product which users can pledge to buy.</p>
        <p>Be sure to add some picture and ideally a video so your product looks great.</p>
    </div>
</div>
</%def>