<%inherit file="layout.html"/>

<%def name="content()">
    %if vctxt.user.isAnon():
        <div class="container homepage">
            <div class="row">
                <div class="col col-lg-10 col-offset-2">
                    <h1 class="site-slogan">Get early access & equity,<br/>
                    calculate your startup <br/>
                    value now!</h1>
                    <h2 class="corp-colors">Looking for ownership<br/>
                    in the next HOT Startup?</h2>

                    <div class="homepage-signup-bar">
                        <p class="intro">Sign Up now, start your engines and may the best woman win</p>
                        <p>
                            <a href="${request.fwd_url("website_social_login_start", network = 'facebook')}?furl=${request.furl}" class="btn-social btn-facebook">Sign Up with Facebook</a>
                            <a href="${request.fwd_url("website_social_login_start", network = 'linkedin')}?furl=${request.furl}" class="btn-social btn-linkedin">Sign Up with Linkedin</a>
                        </p>
                        <small><strong class="text-muted">or use your e-mail address to <a href="${url("website_signup")}" class="text-muted">Sign Up / Log In</a></strong></small>
                    </div>
                </div>
            </div>
        </div>
    %else:
        <div class="container">
            <div class="row">
                <div class="col col-lg-12 text-center">
                    <h1>Welcome ${vctxt.user.name}</h1>
                </div>
            </div>
        </div>
    %endif
</%def>