<%inherit file="layout.html"/>

<%def name="content()">
    <div class="container homepage">
        <div class="row">
            <div class="col col-lg-6">
                <h1 class="site-slogan">The first market place<br/>
                giving equity for expertise</h1>
                <h2 class="corp-colors">Create a project or contribute<br/>
                to existing companies</h2>
                <div class="homepage-signup-bar">
                    <a class="btn btn-primary btn-large" href="${url("website_template_basic")}">Setup Your Project Now</a>
                </div>
            </div>
        </div>
    </div>
</%def>