<%inherit file="base.html"/>

<%block name="layoutscripts"></%block>

<div id="global-frame" class="${self.page_class()}">
    <%block name="header">
        ${self.menu(vctxt.user)}
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-12">
                        <a class="navbar-brand col col-lg-4" href="${url("website_index")}"><img src="${ROOT_STATIC_URL}img/logo.png?${VERSION_TOKEN}" alt="${g.project_name}"/></a>
                        <div class="page-header tag-line">${g.site_slogan}</div>
                    </div>
                </div>
           </div>
       </div>
    </%block>

    %if hasattr(next, 'header_buttons'):
        <div class="container header-btns">
            <div class="row">
                <div class="col col-lg-12">
                    ${next.header_buttons()}
                </div>
            </div>
        </div>
    %endif

    <%block name="contentwrapper">
        ${self.header_messages()}
        <div class="page-wrapper">
            ${self.content()}
        </div>
    </%block>
    <%block name="footer">
    <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 footer-link">
                <h5 class="footer-links-title">About ${g.project_name}</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="#">Company</a></li>
                    <li><a class="footer-link" href="#">Founders</a></li>
                    <li><a class="footer-link" href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col col-lg-3 footer-link">
                <h5 class="footer-links-title">Learn More</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="#">Homepage</a></li>
                    <li><a class="footer-link" href="#">Startups</a></li>
                    <li><a class="footer-link" href="#">Investors</a></li>
                    <li><a class="footer-link" href="#">Experts</a></li>
                </ul>
            </div>
            <div class="col col-lg-3 footer-link">
                <h5 class="footer-links-title">Get Started</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="#">Help</a></li>
                </ul>
            </div>
            <div class="col col-lg-3 footer-link">
                <h5 class="footer-links-title">Connect</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link logo-prefixed facebook" href="#">Like us on Facebook</a></li>
                    <li><a class="footer-link logo-prefixed twitter" href="#">Follow us on Twitter</a></li>
                    <li><a class="footer-link logo-prefixed rss" href="#">Subscribe to our Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    </footer>
    </%block>
</div>


<%def name="menu(user)">
    %if user.isAnon():
        <div class="page-header-bar anon">
        <div class="container">
            <div class="row">
                <div class="col col-sm 12">
                    <ul class="page-header-bar-menu">
                        <li><a href="${url("website_login", _query=[('furl', request.furl)])}">Log in</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    %else:
        <div class="page-header-bar logged-in">
        <div class="container">
            <div class="row">
                <div class="col col-sm 12">
                    <ul class="page-header-bar-menu">
                        <li><span>Welcome ${user.name}</span></li>
                        %if user.Company and user.Company.slug:
                            <li><a href="${url("website_company", slug = user.Company.slug)}">Dashboard</a></li>
                        %endif
                        <li><a href="${url("website_logout")}">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    %endif
</%def>