<%inherit file="base.html"/>

<%block name="layoutscripts"></%block>
<%def name="footer_classes()">mar-top-2</%def>

<div id="global-frame" class="${self.page_class()}">
    <%block name="header">
        ${self.menu(root.user)}
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-12">
                        <a class="navbar-brand col col-lg-4" href="${request.root.home_url}"><img src="${ROOT_STATIC_URL}img/logo.png?${VERSION_TOKEN}" alt="${g.project_name}"/></a>
                    </div>
                </div>
           </div>
       </div>
    </%block>

    ${self.header_messages(request.session.pop_flash("generic_messages"))}

    <div class="container breadcrumbs">
        <div class="row">
            <div class="col col-lg-12 crumbs-inner">
                ${self.bc(resource)}
            </div>
        </div>
    </div>

    <%block name="contentwrapper">
        <div class="page-wrapper">
            ${self.content()}
        </div>
    </%block>
    <%block name="footer">
    <footer class="footer ${self.footer_classes()}">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 footer-link">
                <h5 class="footer-links-title">About ${g.project_name}</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="#">Company</a></li>
                    <li><a class="footer-link" href="#">Founders</a></li>
                    <li><a class="footer-link" href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col col-lg-3 footer-link">
                <h5 class="footer-links-title">Learn More</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="#">Homepage</a></li>
                    <li><a class="footer-link" href="#">Startups</a></li>
                    <li><a class="footer-link" href="#">Investors</a></li>
                    <li><a class="footer-link" href="#">Experts</a></li>
                </ul>
            </div>
            <div class="col col-lg-3 footer-link">
                <h5 class="footer-links-title">Get Started</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="#">Help</a></li>
                </ul>
            </div>
            <div class="col col-lg-3 footer-link">
                <h5 class="footer-links-title">Connect</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link logo-prefixed facebook" href="#">Like us on Facebook</a></li>
                    <li><a class="footer-link logo-prefixed twitter" href="#">Follow us on Twitter</a></li>
                    <li><a class="footer-link logo-prefixed rss" href="#">Subscribe to our Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    </footer>
    </%block>
</div>


<%def name="menu(user)">
    %if user.isAnon():
        <div class="page-header-bar anon">
        <div class="container">
            <div class="row">
                <div class="col col-sm 12">
                    <ul class="page-header-bar-menu">
                        <li><a href="${request.root.login_url(query=[('furl', request.furl)])}">Log in</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    %else:
        <div class="page-header-bar logged-in">
        <div class="container">
            <div class="row">
                <div class="col col-sm 12">
                    <ul class="page-header-bar-menu">
                        <li><span>${user.name}</span></li>
                        <li><a href="${root.profile_url(root.user.token)}">Home</a></li>
                        %if len(user.Companies) > 1:
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  Companies
                                  <span class="caret"></span>
                                 </a>
                                 <ul class="dropdown-menu">
                                    %for company in user.Companies:
                                        <li>
                                            <a href="${url(root, 'c', company.slug)}">${company.name}</a></li>
                                    %endfor
                                 </ul>
                             </li>
                        %elif len(user.Companies) == 1:
                            <li><a href="${url(root, 'c', user.getDefaultCompanySlug())}">${user.getDefaultCompanyName()}</a></li>
                        %endif
                        <li><a href="${request.root.logout_url()}">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    %endif
</%def>


<%def name="bc(res)">
    %if hasattr(res, 'displayType'):
        ${self.bc(res.__parent__)}
        <a class="crumb" href="${url(res)}"><span class="title">${res.displayType}</span><br/>${res.displayName}</a>
    %endif
</%def>

<%def name="header_messages(msgs)">
    <div id="message-container" class="container message-container ${'show' if len(msgs) > 0 else ''}">
        %for msg in msgs:
            <div class="alert alert-${msg.type}">
                <a class="close" data-dismiss="alert">×</a>
                %if msg.heading:
                    <h4 class="alert-heading">${msg.heading|n}</h4>
                %endif
            ${msg.body|n}
            </div>
        %endfor
    </div>
</%def>