<%def name="logo(url, alt='', classes='')">
%if url:
    <div class="logo-picture ${classes}"><img src="${url}" alt="${alt}"/></div>
%else:
    <div class="logo-picture empty ${classes}"></div>
%endif
</%def>


<%def name="valuation(need)">
    <div class="valuation">
        <div class="number total">
            <strong>VALUE</strong>
            <h2><strong>${need.display_total}</strong></h2>
        </div>
        <div class="secondary">
            <div class="number equity">
                <strong>Equity</strong>
                <h2>${need.display_mix}</h2>
            </div>
            <div class="number cash">
                <strong>Cash</strong>
                <h2>${need.display_cash}</h2>
            </div>
        </div>
    </div>
</%def>