
<%def name="round_logo(company, round, classes = '')"><% t = round.Template %>
${self.logo("{}img/templates/{}.png".format(STATIC_URL, t.getStyleKey(), t.name, link = root.round_url(company.slug, company.round_no(round))), classes = classes)}
</%def>
<%def name="company_logo(company, classes = '')">${self.logo(company.logo_url, company.name, link = root.company_url(company.slug), classes = classes)}</%def>
<%def name="app_company_logo(application, url, classes = '')">${self.logo(application.comapnyLogo, application.companyName, link = url, classes = classes)}</%def>
<%def name="product_logo(company, classes = '')">${self.logo(company.product_picture(request), company.product_name, link = root.product_url(company.slug), classes = classes)}</%def>

<%def name="logo(url, alt='', classes='', link = '')">
%if url and link:
<div class="picture ${classes}"><a href="${link}"><img src="${url}" alt="${alt}"/></a></div>\
%elif url:
<div class="picture ${classes}"><img src="${url}" alt="${alt}"/></div>\
%else:
<div class="picture empty ${classes}"></div>\
%endif
</%def>

<%def name="member_pic(member, classes='')">${self.profile_pic(member.picture_url, member.token, member.confirmed, classes)}</%def>
<%def name="profile_pic(picture, token, confirmed = True, classes='')">
    %if confirmed:
        <div class="picture hover-container ${classes}" data-entity-id="${token}">
            <a href="${root.profile_url(token)}"><img class="image" src="${picture}"/></a>
        </div>
    %else:
        <div class="picture ${classes}">
            <img class="image" src="${picture}"/>
            <span title="unconfirmed" class="unconfirmed">unconfirmed</span>
        </div>
    %endif
</%def>



<%def name="pageHeader(canEdit = False)">
<div class="row">
    <div class="col col-lg-12">
        <h1 class="section-title">
            %if canEdit:
                <span class="btn-wrapper"><a title="Edit" href="${url(ctxt, 'edit')}"><span class="glyphicon glyphicon-pencil"></span></a></span>
            %endif
            <span class="brand-primary">${caller.body()}</span>
        </h1>
    </div>
</div>
</%def>


<%def name="gallery(title, play_btn_text, pictures)">
    <div class="box-title major">
        ${title|n}
    </div>
    <div class="play">
        <div class="picture"></div>
        <div class="btn-label">${play_btn_text}</div>
    </div>
    %for picture in pictures:
        <a class="picture slide-show-starter js-link" data-module="views/company/gallery"><img src="${picture}"/></a>
    %endfor
</%def>


<%def name="mainMedia(title, video_url = None, slideshare_url = None, picture_url = None)" filter="trim">
    <div class="media-container">
        <div class="box-title major">${title|n}</div>
        ${self.media(video_url, slideshare_url, picture_url)}
    </div>
</%def>

<%def name="media(video_url = None, slideshare_url = None, picture_url = None)" filter="trim">
    <%
        youtube_id = html.getYoutubeVideoId(video_url)
        vimeo_id = html.getVimeoVideoId(video_url)
    %>
    %if youtube_id:
        <div class="iframe-container">
            <iframe src="//www.youtube.com/embed/${youtube_id}" width="847" height="400" webkitAllowFullScreen mozallowfullscreen allowFullScreen frameborder="0"></iframe>
        </div>
    %elif vimeo_id:
        <div class="iframe-container">
            <iframe src="//player.vimeo.com/video/${vimeo_id}" width="847" height="400" webkitAllowFullScreen mozallowfullscreen allowFullScreen frameborder="0"></iframe>
        </div>
    %elif slideshare_url:
        <% meta = html.getSlideshareMeta(request, slideshare_url) %>
        %if meta:
            <div class="iframe-container">
                <iframe src="//www.slideshare.net/slideshow/embed_code/${meta.slideshow_id}" width="847" height="400" webkitAllowFullScreen mozallowfullscreen allowFullScreen frameborder="0"></iframe>
            </div>
        %else:
            <div class="empty">Invalid slideshare URL: ${slideshare_url}</div>
        %endif
    %elif video_url:
        <a href="${video_url}">${video_url}</a>
    %elif picture_url:
        <div class="picture">
            <img src="${picture_url}"/>
        </div>
    %endif
</%def>



<%def name="login_btn(name)">
<a href="${root.auth_url('linkedin')}" class="btn btn-primary btn-linkedin">Log in with ${name.title()}</a>
</%def>


<%def name="valuation(need)">
    <div class="valuation">
        <div class="number total">
            <strong class="text-small text-muted">VALUE</strong>
            <h2>${need.display_total}</h2>
        </div>
        <div class="secondary">
            <div class="number equity">
                <div class="text-small text-muted">Equity</div>
                <h2>${need.display_mix}</h2>
            </div>
            <div class="number cash">
                <div class="text-small text-muted">Cash</div>
                <h2>${need.display_cash}</h2>
            </div>
        </div>
    </div>
</%def>

<%def name="valuation_sml(need)">
    <div class="valuation small">
        <div class="thirds">
            <strong class="text-small">VALUE</strong>
            <div class="brand-primary text-strong">${need.display_total}</div>
        </div><div class="thirds">
            <small>Equity</small>
            <div class="brand-primary">${need.display_mix}</div>
        </div><div class="thirds">
            <small>Cash</small>
            <div class="brand-primary">${need.display_cash}</div>
        </div>
    </div>
</%def>


<%def name="publicNeedCard(need, descr_len = 50)">
<%
    need_url = root.need_url(need.Company.slug, need.slug)
%>
<div class="need-card home">
    <div class="need-card-inner">
        <div class="box-header box-header-muted box-card">
            <div class="picture">
                <a href="${root.company_url(need.Company.slug)}"><img src="${need.Company.logo}"></a>
            </div>
            <div class="right-box">
                <h5><a href="${need_url}" class="overflow">${need.Company.name}</a></h5>
                <div class="description">${need.Company.description | html.trunc(50)}</div>
            </div>
        </div>
        <div class="box-content">
            <h5><a href="${need_url}">${need.name}</a></h5>
            <div class="long-description">${html.coalesce(need.customText, need.summary) | html.trunc(descr_len)}</div>
        </div>
        <div class="box-content">
            ${self.valuation_sml(need)}
        </div>
        <div class="label-list">
            %for tag in need.tags:
                <span class="label label-info spaced text-small">${tag}</span>
            %endfor
        </div>
    </div>
</div>
</%def>



<%def name="publicProductCard(company, descr_len = 50)">
    <%
        product_url = root.product_url(company.slug)
    %>
    <div class="need-card home product">
    <div class="need-card-inner">
        <div class="picture-header">
            <img src="${company.product_picture(request)}"/>
        </div>
        <div class="box-content">
            <h5><a href="${product_url}" class="overflow">${company.product_name}</a></h5>
            <div class="long-description">${company.product_description | html.trunc(descr_len)}</div>
        </div>
        <div class="box-content">
            <div class="valuation small">
                <div class="number total">
                    <strong>PLEDGES</strong>
                    <h3 class="no-margin brand-primary">${company.no_pledges or '0'}</h3>
                </div>
            </div>
        </div>
    </div>
    </div>
</%def>


<%def name="companyInfo(company, withValue = True)">
    ${self.company_logo(company)}
    <div class="right-box">
        <a href="${root.company_url(company.slug)}" class="overflow"><strong>${company.display_name}</strong></a>
        <small class="description">${html.nn(company.pitch)}</small>
        %if withValue:
        <div class="number-widget mar-top-1">
            <h6>Startup Value</h6>
            <div class="small-value">${company.displayStartupValue}</div>
        </div>
        %endif
    </div>
</%def>

