<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="pageTitle()"><div class="page-header">Founder or Expert?</div></%def>

<%def name="content()">
    <div class="container container-constricted">
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="site-slogan">Do you have an idea or do you want to help out others?</h1>
            </div>
        </div>
        <form class="${view.form.classes}" id="${view.form.id}" method="POST">
            ${baseform.prelims(view.form)}
            <div class="row mar-top-2">
                <div class="col col-lg-6">
                    <p>Nunc ac lacus lorem, non gravida sem. Suspendisse commodo aliquam odio, vel semper neque sodales et. Quisque eu arcu et mauris sodales euismod id in elit. Suspendisse sit amet ipsum a est mollis sagittis nec quis nulla. Aenean lectus est, sagittis in volutpat ac, scelerisque porttitor nisi. In placerat neque ipsum.</p>
                </div>
                <div class="col col-lg-6">
                    <p>massa auctor bibendum. Duis posuere sapien ut mauris porttitor dapibus. Proin vel nulla ac ipsum lobortis tempor fringilla eu ipsum. Duis vestibulum lobortis turpis non elementum. Phasellus vel massa a metus scelerisque vulputate. Etiam molestie elit id augue commodo vestibulum. Nulla facilisi. Maecenas ut pretium sem. Proin sit amet erat ante. Phasellus sed vestibulum diam. Nunc facilisis sem Phasellus viverra mauris asuscipit tellus facilisis eu convallis metus consectetur.</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-6">
                    <button type="submit" class="btn btn-humonguous btn-primary col col-sm-12" name="${view.form.id}.role" value="founder">
                        Enter as a
                        <span>Founder</span>
                    </button>
                </div>
                <div class="col col-lg-6">
                    <button type="submit" class="btn btn-humonguous btn-primary col col-sm-12" name="${view.form.id}.role" value="expert">
                        Enter as an
                        <span>Expert</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</%def>

<%def name="post_scripts()">
    <script>
        require(["tools/ajax"], function(ajax){
            ajax.ifyForm({el: $("#${view.form.id}")});
        });
    </script>
</%def>

