<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="content()">
    <div class="container centered auth-page">
        <div class="row mar-top-3">
            <div class="col col-lg-12">
                <p class="intro"><strong>Log in now</strong></p>
                <p class="btn-social-wrapper">
                    <a href="${root.auth_url('linkedin')}" class="btn btn-primary btn-linkedin">Log in with Linkedin</a>

                    <%doc>
                        <a href="${root.auth_url('facebook')}" class="btn btn-primary btn-facebook">Log in with Facebook</a>
                        <a href="${root.auth_url('xing')}" class="btn btn-primary btn-xing">Log in with Xing</a>
                        <a href="${root.auth_url('twitter')}" class="btn btn-primary btn-xing">Log in with Twitter</a>
                    </%doc>

                </p>
                <small><strong class="text-muted">If you don't have a Linkedin account yet, please <a href="http://www.linkedin.com">create one</a>.</strong></small>
            </div>
        </div>
    </div>
</%def>