<%inherit file="../../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="pageTitle()"><div class="page-header">Connect</div></%def>

<%def name="content()">
    <div class="container container-constricted">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="site-slogan">To pledge your support to ${vctxt.company.name}, please connect</h1>
            </div>
        </div>
        <div class="row mar-top-3">
            <div class="col col-lg-4">
                <div class="btn-social-wrapper">

                    <a href="${url("website_login_to_pledge", network = 'facebook', action='start', **vctxt.urlArgs)}?furl=${request.furl}" class="btn btn-primary btn-facebook">Connect with Facebook</a>

                    <div class="mar-top-2">
                        <a href="${url("website_login_to_pledge", network = 'linkedin', action='start', **vctxt.urlArgs)}?furl=${request.furl}" class="btn btn-primary btn-linkedin">Connect with Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</%def>
