<%inherit file="../../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="index.html" name="index"/>

<%def name="pageTitle()"><div class="page-header">${company.name}</div></%def>


<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="box-shaded company-customer-dashboard disabled">
                    <h5 class="box-title">Project</h5>
                    <div class="row mar-top-1">
                        <div class="col col-lg-12">
                            <div class="col col-lg-3">
                                <div class="company-card">
                                    <div class="company-logo medium">
                                        <img src="${company.logo_url}"/>
                                    </div>
                                    <a href="${company.angellist_url}" class="name mar-top-1">${company.name}</a>
                                    <div class="tagline">${company.high_concept}</div>
                                    <div class="tags mar-top-1">
                                        ${company.getDisplayTags()}
                                    </div>
                                </div>
                                <a href="#" class="btn btn-default col col-sm-8 mar-top-1">Pledge Now</a>
                            </div>
                            <div class="col col-lg-9">
                                <div class="product-image large">${self.company_media(company)}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mar-top-1">
                        <div class="col col-lg-12">
                            <div class="col col-lg-6 col-offset-3">
                                <h5 class="box-title dark">About</h5>
                                <p>
                                    ${company.product_desc}
                                </p>
                                <div class="company-tags">
                                %for tag in company.markets:
                                    <span class="label">
                                        ${tag.display_name}
                                    </span>
                                %endfor
                                </div>
                            </div>
                            <div class="col col-lg-3">
                                <h5 class="box-title dark">Founders</h5>
                                %for role in company_roles:
                                    <div class="company-founder">
                                        <div class="actor-line">
                                            <img src="${role.getPicture()}" class="img-thumbnail mini"/>
                                            <a href="${role.getPersonUrl()}">${role.getPersonName()}</a>
                                        </div>
                                        <p>${role.getPersonDescr()}</p>
                                        <a href="${role.getPersonUrl()}"/>More...</a>
                                    </div>
                                %endfor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col-lg-12">
                <div class="box-shaded customer-pledge-section">
                    <h5 class="box-title">${pluralize("{num} Pledge", "{num} Pledges", 0)}</h5>
                    %if company.pledges:

                        <div class="member-pile">
                            %for pledge in company.pledges:
                                ${index.renderMember(None)}
                            %endfor
                        </div>

                    %else:
                        <div class="empty">
                            No Pledges Yet
                        </div>
                    %endif
                </div>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col-lg-12 text-center">
                <a class="btn btn-primary btn-humonguous" href="${url("website_company_pledge_decide")}"><span>Pledge Now</span></a>
            </div>
        </div>
    </div>
</%def>


<%def name="company_media(company)" filter="trim">
    <%
        youtube_url = company.getYoutubeVideoId()
    %>
    %if youtube_url:
        <div class="you-tube-container" data-video-id="${company.getVideoId()}"></div>
    %elif company.video_url:
        <a href="${company.video_url}">${company.video_url}</a>
    %elif company.screenshots:
        <div class="product-screenshots">
            <img src="${company.getFirstScreenShot()}"/>
        </div>
    %endif
</%def>

<%def name="post_scripts()">
    <script>
        require(["tools/youtube"], function(yt){
            yt.onLoad({root: $(".company-customer-dashboard")})
        })
    </script>
</%def>
