<div id="global-frame">
    <div class="page-header-bar anon">
        <div class="container">
            <div class="row">
                <div class="col col-sm 12">
                    <ul class="page-header-bar-menu">
                        <li><a href="http://ufostartweb.cloudapp.net/login">Log in</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a class="navbar-brand" href="http://ufostartweb.cloudapp.net/"><img
                            src="http://ufostartweb.cloudapp.net/static/img/logo.png?v=d67dac269521836d1afccf63f3e3a52d"
                            alt="UFOStart"/></a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-wrapper">

        <div class="home-band">
            <div class="container homepage">
                <div class="row mar-top-3">
                    <div class="col-lg-12">
                        <h1 class="site-slogan">
                            The first market place<br/>giving equity for expertise
                        </h1>

                        <div class="mar-top-3 text-center">
                            <a class="btn btn-primary btn-xlg" href="http://ufostartweb.cloudapp.net/template">
                                Create Project
                            </a>
                        </div>
                        <div class="mar-top-5 text-center">
                            <img class="press-partners" src="http://ufostartweb.cloudapp.net/static/img/press.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-title">
                        <span>How does UFOStart work?</span>
                    </h1>
                </div>
            </div>
            <div class="row mar-top-1">
                <div class="col-lg-4">
                    <div class="text-center">
                        <div class="concept-icons money"></div>
                    </div>
                    <h2 class="home-page-section">Exchange equity for expertise</h2>

                    <p class="mar-top-2">Genim voluptiusam doloren ihicae ne ipsandam velign imodit quam quat. Bus non
                        porum andam, verum re coneste dictiam eum vollaborest ommodi to blatur.</p>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div class="concept-icons share"></div>
                    </div>
                    <h2 class="home-page-section">Connect with people</h2>

                    <p class="mar-top-2">Genim voluptiusam doloren ihicae ne ipsandam velign imodit quam quat. Bus non
                        porum andam, verum re coneste dictiam eum vollaborest ommodi to blatur.</p>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div class="concept-icons team"></div>
                    </div>
                    <h2 class="home-page-section">Create a company or<br/>contribute to existing companies</h2>

                    <p class="mar-top-2">Genim voluptiusam doloren ihicae ne ipsandam velign imodit quam quat. Bus non
                        porum andam, verum re coneste dictiam eum vollaborest ommodi to blatur.</p>
                </div>
            </div>

            <div class="row mar-top-2">
                <div class="col-lg-12">
                    <h1 class="section-title">
                        <span>Testimonials</span>
                    </h1>
                </div>
            </div>
            <div class="row mar-top-1">
                <div class="col-lg-12">
                    <div id="carousel-landing-page" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-landing-page" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-landing-page" data-slide-to="1"></li>
                            <li data-target="#carousel-landing-page" data-slide-to="2"></li>
                            <li data-target="#carousel-landing-page" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active text-center">
                                <h3><span class="brand-primary">“</span>Dolupta seritiate optaqui aceperibust id maxim
                                    re pra exrum,<br/> etur picaeptatem quatus, unto di di tor apie mistes<span
                                            class="brand-primary">”</span></h3>
                                <h5 class="brand-primary upper">Carles Miete, Kickstarter</h5>
                            </div>

                            <div class="item text-center">
                                <h3><span class="brand-primary">“</span>Dolupta seritiate optaqui aceperibust id maxim
                                    re pra exrum,<br/> etur picaeptatem quatus, unto di di tor apie mistes<span
                                            class="brand-primary">”</span></h3>
                                <h5 class="brand-primary upper">Carles Miete, Kickstarter</h5>
                            </div>

                            <div class="item text-center">
                                <h3><span class="brand-primary">“</span>Dolupta seritiate optaqui aceperibust id maxim
                                    re pra exrum,<br/> etur picaeptatem quatus, unto di di tor apie mistes<span
                                            class="brand-primary">”</span></h3>
                                <h5 class="brand-primary upper">Carles Miete, Kickstarter</h5>
                            </div>

                            <div class="item text-center">
                                <h3><span class="brand-primary">“</span>Dolupta seritiate optaqui aceperibust id maxim
                                    re pra exrum,<br/> etur picaeptatem quatus, unto di di tor apie mistes<span
                                            class="brand-primary">”</span></h3>
                                <h5 class="brand-primary upper">Carles Miete, Kickstarter</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mar-top-2">
                <div class="col-lg-12">
                    <h1 class="section-title">
                        <span>Easy to Use</span>
                    </h1>
                </div>
            </div>
            <div class="row mar-top-1">
                <div class="col-lg-7">
                    <img src="http://ufostartweb.cloudapp.net/static/img/landing/slide1.png"/>
                </div>
                <div class="col-lg-5 mar-top-1">
                    <h2>Got big ideas and no clue where to start?</h2>
                    <h6>Select a template we prepared for you and start the round.</h6>

                    <h2>Create a company and add a Project</h2>
                    <h6>Gather your team members and invite a mentor.</h6>

                    <h2>Connect with people</h2>
                    <h6>UFOstart is well connected to all major social networks. Find an expert for your needs.</h6>

                    <div class="text-center mar-top-2">
                        <a class="btn btn-primary btn-xlg" href="http://ufostartweb.cloudapp.net/signup">
                            Signup
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <footer class="footer mar-top-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 footer-link">
                    <h5 class="footer-links-title">About UFOStart</h5>
                    <ul class="list-unstyled">
                        <li><a class="footer-link" href="http://ufostart.com/about/us">Company</a></li>
                        <li><a class="footer-link" href="http://ufostart.com/about/us">Founders</a></li>
                        <li><a class="footer-link" href="http://ufostart.com/feedback">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 footer-link">
                    <h5 class="footer-links-title">Learn More</h5>
                    <ul class="list-unstyled">
                        <li><a class="footer-link" href="/">Homepage</a></li>
                        <li><a class="footer-link" href="http://ufostart.com/for/startups">Startups</a></li>
                        <li><a class="footer-link" href="http://ufostart.com/for/investors">Investors</a></li>
                        <li><a class="footer-link" href="http://ufostart.com/for/experts">Experts</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 footer-link">
                    <h5 class="footer-links-title">Get Started</h5>
                    <ul class="list-unstyled">
                        <li><a class="footer-link" href="http://ufostart.com/feedback">Help</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 footer-link">
                    <h5 class="footer-links-title">Connect</h5>
                    <ul class="list-unstyled">
                        <li><a class="footer-link logo-prefixed facebook" href="https://www.facebook.com/UFOstart">Like
                            us on Facebook</a></li>
                        <li><a class="footer-link logo-prefixed twitter" href="https://twitter.com/UFOstart">Follow us
                            on Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>


<div id="getsat-widget-6542"></div>
<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
<script type="text/javascript">
    if (typeof GSFN !== "undefined") {
        GSFN.loadWidget(6542, {"containerId": "getsat-widget-6542"});
    }
</script>
