<%namespace file="widgets.html" name="widgets"/>

<%def name="page(view)">
    <div class="container">
        %if hasattr(view, 'page_title'):
            <h5 class="page-header">${view.page_title}</h5>
        %endif
        <div class="header-bg" style="background-image: url(${STATIC_URL}img/${view.background})">
            <div class="row">
                ${caller.body()}
            </div>
        </div>
    </div>
</%def>

<%def name="page_cols()">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="field-content high">
            ${caller.body()}
        </div>
    </div>
</%def>

<%def name="html(form)">
    %if hasattr(form, 'description'):
        <%self:page_cols>
            <div class="row">
                <div class="col-lg-4">
                    <legend>${form.label}</legend>
                </div>
                <div class="col-lg-8">
                    ${render_inst(ctxt.workflow)|n}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    ${form.description}
                </div>
                <div class="col-lg-8">
                    <%widgets:build_base_form form="${form}" values="${values}" errors="${errors}">
                        <button type="sumbit" class="btn btn-primary">${getattr(form, 'submit_label', 'Submit')}</button>
                        <button type="submit" class="btn btn-warning resend-button hide" name="${form.id}.isResend" value="true">Resend</button>
                        <a href="${form.cancel_url(request)}" class="btn btn-default">${getattr(form, 'cancel_label', 'Cancel')}</a>
                    </%widgets:build_base_form>
                </div>
            </div>
        </%self:page_cols>

    %else:

        <div class="col-lg-3 col-lg-offset-1">
            <div class="field-content high">
                <legend>${form.label}</legend>
                <%widgets:build_base_form form="${form}" values="${values}" errors="${errors}">
                    <div class="field-action">
                        <button type="sumbit" class="btn btn-primary">${getattr(form, 'submit_label', 'Submit')}</button>
                        <button type="submit" class="btn btn-warning resend-button hide" name="${form.id}.isResend" value="true">Resend</button>
                        <a href="${form.cancel_url(request)}" class="btn btn-default">${getattr(form, 'cancel_label', 'Cancel')}</a>
                    </div>
                </%widgets:build_base_form>
            </div>
        </div>

    %endif
</%def>


<%def name="css()">
    <link href="${STATIC_URL}chosen/chosen.css" rel="stylesheet">
    <link href="${STATIC_URL}jqui/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
</%def>

<%def name="scripts()">
    <script src="${STATIC_URL}chosen/chosen.jquery.js"></script>
    <script src="${STATIC_URL}jqui/jquery-ui-1.10.3.custom.js"></script>
    <script type="text/javascript">
        (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
    </script>
    <script>
        require(["form"], function(Form){
            filepicker.setKey('${settings.filepickerKey}');
            $(".form-validated").each(function(idx, form){
                new Form({el: $(form)
                    , error: function(resp, status, xhr){
                        if(resp.isResend){
                            $(form).find(".resend-button").removeClass("hide").siblings(".btn-primary").addClass("hide");
                        }
                    }
                });
            })
        });
    </script>
</%def>

<%def name="simple_scripts()">
    <script>
        require(["form"], function(Form){
            $(".form-validated").each(function(idx, form){
                new Form({el: $(form)
                    , error: function(resp, status, xhr){
                        if(resp.isResend){
                            $(form).find(".resend-button").removeClass("hide").siblings(".btn-primary").addClass("hide");
                        }
                    }
                });
            })
        });
    </script>
</%def>