<%namespace file="../widgets.html" name="widgets"/>

<%def name="public_task_cols(cols)">
    %for i, col in enumerate(cols):
      <div class="col-md-4 col-sm-6">
        <div class="js-need-card-list">
            %for need in col:
                ${self.public_html(need)}
            %endfor
        </div>
          %if  hasattr(ctxt, 'round') and not i and ctxt.canEdit and not ctxt.round.published:
            <a href="${url(ctxt, 'new')}" class="need-card-inner add-card">
              <img src="${STATIC_URL}img/addneed.png"/>
              <h4>Create a new Task</h4>
            </a>
          %endif
      </div>
    %endfor
</%def>


<%def name="public_html(need)">
  <div class="need-card">
    <div class="need-card-inner">
      <div class="box-header-muted box-content">
          <a class="pull-right section-drop-expander link" title="Expand" data-toggle-class="expanded" data-toggle-target=".need-card-inner"><span class="section-drop-icon"></span></a>
            <h3 class="no-margin">
            %if hasattr(ctxt, 'round'):
                <a href="${request.root.need_url(ctxt.company.slug, need.slug, 'edit')}">${need.name}</a>
            %else:
                ${need.name}
            %endif
        </h3>
      </div>
      <div class="show-expanded">
        <div class="cut-corner box-header-muted box-content" style="padding-top:0;">
          <p>
              ${need.summary | html.trunc(200)}
          </p>
        </div>
        <div class="box-content">
            %for tag in need.tags:
              <span class="label label-info spaced text-small">${tag}</span>
            %endfor
        </div>
      </div>
      %if hasattr(ctxt, 'round'):
        <div class="box-content">
          <a href="${request.root.need_url(ctxt.company.slug, need.slug, 'edit')}" class="btn btn-primary btn-block">Add Task</a>
        </div>
      %endif
    </div>
  </div>
</%def>




<%def name="otherTasks(round, current_need, title = None)">
    <div class="company-dashboard">
    %if len(round.roundTasks) > 1:
        <div class="box-shaded">
            <div class="box-shaded">
                <div class="box-title">
                  %if title:
                    ${title|n}
                  %else:
                    Other tasks from <a href="${root.round_url(ctxt.company.slug, '1')}">${ctxt.company.display_name}</a>
                  %endif
                </div>
                <div class="box-shaded box-hor-content">
                    %for need in round.roundTasks:
                        %if not current_need or need.slug != current_need.slug:
                            <div class="list-item">
                                <h3 class="other-task-card-header"><a href="${root.need_url(ctxt.company.slug, need.slug)}">${need.name}</a></h3>
                                ${widgets.valuation_sml(need)}
                            </div>
                        %endif
                    %endfor
                </div>
            </div>
        </div>
    %endif
    </div>
</%def>