---
layout: default
title: Home
---

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">UFOStartApi</a>
    </div>
  </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <p>All API endpoints are to be called with HTTPS and the following default settings.</p>

            <h3>Default HTTP Settings</h3>
            <pre class="prettyprint">
                Method: POST
                Content-Type: application/json
                Client-Token: YOUR_CLIENT_TOKEN</pre>

            <h3>Default JSON Request Format:</h3>

            <p>Some endpoints require a parameter JSON Document, some can be called without. If parameters are required, they must be submitted as valid JSON documents in the HTTP Body.</p>

            <h3>Default JSON Response Format:</h3>

            <p>The API will always return a 200 HTTP Status Code and the response as a JSON document in the body.</p>
            <p>If the API does return any other error code, please check that you provided all settings as above. If they are all correct, please check your API deployment.</p>

            <p>Every valid API response document contains the following fields:</p>
            <table class="table">
                <thead>
                    <th>Field name</th>
                    <th>Description</th>
                </thead>
                <tr>
                    <th>status</th>
                    <td>denotes the internal error code or 0 if no error, always returned</td>
                </tr>
                <tr>
                    <th>procName</th>
                    <td>name of stored procedure that got executed in the DB, this is for debugging purposes only, always returned</td>
                </tr>
                <tr>
                    <th>dbMessage</th>
                    <td>contains business relevant feedback, common examples are: UNKNOWN_USER, LOGIN_FAILED, only present if business logic requires</td>
                </tr>
                <tr>
                    <th>errorMessage</th>
                    <td>returned only when an unexpected error occurs, in this case <strong>status</strong> will be > 0, use this for logging/debugging purposes only</td>
                </tr>
            </table>




            <h1 class="mar-top-3">Api Objects</h1>
            <ul>
            {% for post in site.categories.object %}
                <li><a href="#{{post.url}}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>


            {% for post in site.categories.object %}
                <div class="single-endpoint jump-target" id="{{post.url}}">
                    <legend>{{ post.type }} Endpoint: <code class="prettyprint">{{ post.title }}</code></legend>
                    <p class="lead">{{ post.content }}</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5>Request</h5>
                            <pre class="prettyprint">{{ post.request }}</pre>
                        </div>
                        <div class="col-lg-6">
                            <h5>Response</h5>
                            <pre class="prettyprint">{{ post.response }}</pre>
                        </div>
                    </div>
                </div>
            {% endfor %}


            <h1 class="mar-top-3">Api Endpoint Documentation</h1>


            <p>Each endpoint section will contain Fiddler2 scratchpad code. You are highly encouraged to run those against your own API deployment to visualize the interactions.</p>

            <ul>
            {% for post in site.categories.endpoint %}
                <li><a href="#{{post.url}}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>

            {% for post in site.categories.endpoint %}
                <div class="single-endpoint jump-target" id="{{post.url}}">
                    <legend>{{ post.type }} Endpoint: <code class="prettyprint">{{ post.title }}</code></legend>
                    <p class="lead">{{ post.content }}</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5>Request</h5>
                            <pre class="prettyprint">{{ post.request }}</pre>
                        </div>
                        <div class="col-lg-6">
                            <h5>Response</h5>
                            <pre class="prettyprint">{{ post.response }}</pre>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>





2013-09-12-0001_admin_need.markdown
2013-09-12-0001_admin_need_all.markdown
2013-09-12-0001_admin_need_create.markdown
2013-09-12-0001_admin_need_edit.markdown
2013-09-12-0001_admin_service.markdown
2013-09-12-0001_admin_service_create.markdown
2013-09-12-0001_admin_service_edit.markdown
2013-09-12-0001_admin_static.markdown
2013-09-12-0001_admin_static_set.markdown
2013-09-12-0001_admin_template.markdown
2013-09-12-0001_admin_template_create.markdown
2013-09-12-0001_admin_template_edit.markdown
