<%inherit file="../../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../../widgets.html" name="widgets"/>

<%def name="header_buttons()">
    <div class="pull-right">
        Company: <a href="${url('website_company', **vctxt.urlArgs)}">${vctxt.company.name}</a>
    </div>
</%def>



<%def name="content()">
    ${self.details(company, product)}
</%def>

<%def name="details(company, product)">
<div class="container">
    <div class="row">
        <div class="col col-lg-8 company-customer-dashboard">
            <div class="box-framed">
                <div class="box-title">
                    %if vctxt.canEditCompany:
                        <a href="${url("website_company_product_edit", **vctxt.urlArgs)}" class="btn btn-primary">Edit</a>
                    %endif
                    Product Details
                </div>
                <div class="box-content">
                    <h3 class="site-slogan">${product.name}</h3>
                    <div class="product-image large mar-top-1">${self.product_media(product)}</div>

                    <div class="mar-top-1">
                        ${html.nn(product.description)}
                    </div>

                    %if vctxt.canEditCompany:
                        <% form = view.schemas['ProductOffer'] %>
                        ${self.create_offer_form(product, form, values.get(form.id), errors.get(form.id))}
                    %else:
                        %if len(product.offers):
                        <div class="mar-top-2"></div>
                        <div class="box-title">
                            Offers
                        </div>
                            <div class="mar-top-1">
                                <p>This product can be acquired in the following options:</p>
                                <ul class="styled">
                                    %for offer in product.offers:
                                        <li><span>${offer.name}</span></li>
                                    %endfor
                                </ul>
                            </div>
                        %endif
                    %endif
                    %if product.Offers:
                        <% form = view.schemas['ProductPledge'] %>
                        ${self.pledge_offer_form(form, values.get(form.id), errors.get(form.id))}
                    %endif
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="box-framed">
                <div class="box-title">Company Info</div>
                <div class="box-content">
                    <div class="row">
                        <div class="col col-sm-3">
                            ${widgets.company_logo(company)}
                        </div>
                        <div class="col col-sm-9">
                            <a href="${url("website_company", **vctxt.urlArgs)}"><strong>${company.display_name}</strong></a>
                            <p>
                                ${html.nn(company.description) | html.trunc(50)}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-framed mar-top-1">
                <div class="box-title">Customers</div>
                <div class="box-content">
                    <div class="row">
                        %if company.no_pledgees:
                            %for pledge in company.Round.Pledges:
                            <div class="col col-sm-3">
                                <div class="picture medium">
                                    <img src="${pledge.picture}"/>
                                </div>
                            </div>
                            %endfor
                        %else:
                            <div class="empty">
                                No Customers yet
                            </div>
                        %endif
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</%def>


<%def name="create_offer_form(product, form, values, errors)">
    <div class="expander">
        <div class="mar-top-2"></div>
        <div class="box-title">
            %if product.Offers:
                <a class="btn btn-primary show-contracted" data-toggle-target=".expander" data-toggle-class="expanded">Edit</a>
                <a class="btn btn-default show-expanded" data-toggle-target=".expander" data-toggle-class="expanded">Cancel</a>
            %endif
            Offers
        </div>

        %if product.Offers:
            <div class="show-contracted">
            <div class="mar-top-1">
                <p>This product can be acquired in the following options:</p>
                <ul class="styled">
                    %for offer in product.offers:
                        <li><span>${offer.name}</span></li>
                    %endfor
                </ul>
            </div>
            </div>
            <div class="show-expanded row"><div class="col-lg-12 col">
        %endif

        <div class="box-framed box-dark">
            <div class="box-content mar-top-1 clearfix">
                <form class="${form.grid.form_classes}" id="${form.id}" method="POST">
                    ${baseform.prelims(form)}
                    %for field in form.fields:
                        ${field.render(form.id, request, values, errors, view, grid = form.grid)|n}
                    %endfor
                    <div class="row">
                        <div class="col col-offset-3 col-lg-9">
                            <button type="submit" class="btn btn-primary">Save Offers</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    %if product.Offers:
        </div>
        </div>
    %endif
    </div>
</%def>

<%def name="pledge_offer_form(form, values, errors)">
    <div class="expander">
    <div class="mar-top-2"></div>
    <div class="box-title">
        %if vctxt.user.isAnon():
            <a href="${url("website_company_product_pledge", **vctxt.urlArgs)}" class="btn btn-primary">Login to Pledge</a>
        %elif not vctxt.canEditCompany:
            <a class="btn btn-primary show-contracted" data-toggle-target=".expander" data-toggle-class="expanded">Pledge Now</a>
            <a class="btn btn-default show-expanded" data-toggle-target=".expander" data-toggle-class="expanded">Cancel</a>
        %endif
        Customers
    </div>
    %if not vctxt.canEditCompany and not vctxt.user.isAnon():
        <div class="show-expanded box-shaded box-framed">
            <div class="box-content">
                <form class="${form.grid.form_classes}" id="${form.id}" method="POST">
                    ${baseform.prelims(form)}
                    <div class="row mar-top-1">
                        <div class="col col-lg-4">
                            <div class="row">
                                <div class="col col-sm-4">
                                    <div class="picture">
                                        <img src="${vctxt.user.picture}"/>
                                    </div>
                                </div>
                                <div class="col col-sm-8">
                                    <div class="name">${vctxt.user.name}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-block">Submit Pledge</button>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-8 control-group">
                            %for field in form.fields:
                                ${field.render(form.id, request, values, errors, view)|n}
                            %endfor
                        </div>
                    </div>
                </form>
            </div>
        </div>
    %endif
    </div>

        %if company.no_pledgees:
            %for pledge in company.Round.Pledges:
                <div class="row mar-top-1">
                    <div class="col col-lg-4">
                        <div class="row">
                            <div class="col col-sm-4">
                                <div class="picture">
                                %if pledge.is_native:
                                    <a href="${url("website_user", slug = pledge.networkId)}">
                                        <img src="${pledge.picture}"/>
                                    </a>
                                %else:
                                    <img src="${pledge.picture}"/>
                                %endif
                                </div>
                            </div>
                            <div class="col col-sm-8">
                                %if pledge.is_native:
                                    <p class="name"><a href="${url("website_user", slug = pledge.networkId)}"><strong>${pledge.name}</strong></a></p>
                                %else:
                                    <p class="name"><strong>${pledge.name}</strong></p>
                                %endif
                                <div class="text-small text-muted">Offer Option</div>
                                <ul class="styled">
                                    <li><span class="text-small">${pledge.offer}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-8 control-group">
                        ${html.nn(pledge.comment)}
                    </div>
                </div>
            %endfor
        %else:
            <div class="empty">
                No Customers yet
            </div>
        %endif

</%def>






<%def name="product_media(product)" filter="trim">
    %if product:
        <%
            youtube_id = product.getYoutubeVideoId()
            vimeo_id = product.getVimeoVideoId()
        %>
        %if youtube_id:
            <div class="you-tube-container" data-video-id="${youtube_id}"></div>
        %elif vimeo_id:
            <div class="vimeo-container">
            <iframe src="http://player.vimeo.com/video/${vimeo_id}" width="847" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        %elif product.video:
            <a href="${product.video}">${product.video}</a>
        %elif product.picture:
            <div class="product-screenshots">
                <img src="${product.picture}"/>
            </div>
        %endif
    %else:
        <div class="empty">
            No Video
        </div>
    %endif
</%def>

<%def name="post_scripts()">
    <script>
        require(["tools/youtube"], function(yt){
            yt.onLoad({root: $(".company-customer-dashboard")})
        })
        require(["form"], function(View){
            $("form.form-validated").each(function(idx, elem){
                new View({el: $(elem)});
            });
        });
    </script>
</%def>
