<%inherit file="layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="slogan()">${self.crumbs(1)}</%def>
<%def name="sectionTitle()">${_("TemplateList.Title")|n}</%def>


<%def name="bodyContent()">
<div class="row">
    %for t in templates:
        <div class="col-lg-4 col-lg-offset-1 text-center">
            <div class="single-template">
                <a href="${root.template_url(t.key)}" class="single-template-button no-btn">
                    <img src="${t.picture}"/>
                </a>
                <p class="description">
                    <strong>${t.name}</strong> ${ t.description | html.trunc(300),html.html,n }
                </p>
            </div>
        </div>
    %endfor
</div>
</%def>

<%def name="wtfBox()">
    <div class="wtf-box active">
        <h2 class="wtf-title">
            ${_("TemplateList.Help.Title")|n}
        </h2>
        <div class="wtf-content mar-top-1">
            ${_("TemplateList.Help.Text")|n}
        </div>
    </div>
</%def>
