<%inherit file="../../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../../widgets.html" name="widgets"/>

<%def name="content()">
    <div class="container">

        <%widgets:pageHeader canEdit="${ctxt.canEdit}">
            Funding Setup
        </%widgets:pageHeader>

        <div class="row mar-top-2">
            <div class="col col-lg-7">
                <div class="box-dark">
                    <div class="box-content">
                        ${self.build_form(view.form, values.get(view.form.id), errors.get(view.form.id))}
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-offset-2">
                ${self.wtfBox()}
            </div>
        </div>
    </div>
</%def>


<%def name="build_form(form, values, errors)">
    <form class="${form.grid.form_classes}" id="${form.id}" method="POST">
        ${baseform.prelims(form)}


        ${form.fieldMap['amount'].render(form.id, request, values, errors, view, grid = form.grid)|n}
        ${form.fieldMap['valuation'].render(form.id, request, values, errors, view, grid = form.grid)|n}
        ${form.fieldMap['description'].render(form.id, request, values, errors, view, grid = form.grid)|n}

       <button type="submit" class="btn btn-primary">Setup Funding</button>
       <a href="${url(ctxt)}" class="btn btn-default">Cancel</a>
    </form>
</%def>


<%def name="post_scripts()">
    <script>
        require(["form"], function(View){
            $(".form-validated").each(function(idx, form){
                new View({el:form});
            });
        });
    </script>
</%def>

<%def name="wtfBox()">
<div class="wtf-box">
    <h2 class="wtf-title">Whats going on here?</h2>
    <div class="wtf-content mar-top-1">
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </div>
</div>
</%def>