<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../widgets.html" name="widgets"/>


<%def name="pageTitle()"><div class="page-header">${al_company.display_name if al_company else 'Your Company'}</div></%def>

<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8">
                ${self.companyMainInfo(vctxt.company)}
            </div>
            <div class="col col-lg-4">
                ${self.teamMembers(vctxt.company.Users)}
            </div>
        </div>
    </div>
</%def>


<%def name="teamMembers(members)">
    <div class="box-framed">
        <div class="box-title">
            Team Members
        </div>
        <div class="box-content">
            <div class="member-pile">
                %for member in members:
                    <div class="row mar-top-half">
                        <div class="col col-lg-3">
                            <div class="picture">
                                <img src="${member.picture_url}" width="100%"/>
                                %if member.unconfirmed:
                                    <span title="unconfirmed" class="unconfirmed">unconfirmed</span>
                                %endif
                            </div>
                        </div>
                        <div class="col col-lg-9">
                            <a href="#"><strong>${member.name}</strong></a>
                            <div class="text-muted">${member.position}</div>
                        </div>
                    </div>
                %endfor
            </div>
            ${self.build_form(view.form, values.get(view.form.id), errors.get(view.form.id))}
        </div>
    </div>
</%def>


<%def name="companyMainInfo(company)">
    <div class="box-title">
        Company Information
    </div>
    <div class="row mar-top-1">
        <div class="col col-lg-3">
            ${widgets.logo(company.logo_url)}
        </div>
        <div class="col col-lg-9">
            <a href="${company.url}"><strong>${company.display_name}</strong></a>
        </div>
    </div>
    <div class="mar-top-1">
        ${al_company.display_description if al_company else ''}
    </div>

    %if not company.is_setup:
        <div class="disabled-overlay">
            <div class="overlay-action">
                <a href="${url("website_company_import_start", _query=[('furl', request.furl)], **vctxt.urlArgs)}" class="btn btn-primary btn-large btn-block">Import Your Company from Angellist</a>
            </div>
        </div>
    %endif
</%def>




<%def name="build_form(form, values, errors)">
    <div class="box-shaded mar-top-1">
        <form class="${form.classes}" id="${form.id}" method="POST">
            ${baseform.prelims(form)}
            %for field in view.form.fields:
                ${field.render(form.id, request, values, errors, view)|n}
            %endfor
            <button type="submit" class="btn btn-primary btn-block mar-top-1">Invite member</button>
        </form>
    </div>
</%def>

<%def name="post_scripts()">
    <script>
        require(["tools/ajax"], function(ajax){
            ajax.ifyForm({root: $("#${view.form.id}")}, {repeatables: true});
        });
    </script>
</%def>




