<%inherit file="../layout.html"/>

<%def name="header_buttons()">
    <a href="${url("website_company_invite", **vctxt.urlArgs)}" class="btn btn-primary">Invite Team Members</a>
</%def>

<%def name="pageTitle()"><div class="page-header">Round</div></%def>

<%def name="content()">
    <div class="container">
        <div class="row mar-top-1">
            <div class="col col-lg-12">
                <div class="round-dashboard box-shaded ${'no-rounds' if currentRound else 'has-rounds'}">
                    <div class="col col-lg-3">
                        ${self.buildTaskPillar(currentRound)}
                    </div>

                    <div class="col col-lg-3">
                        ${self.buildCustomerPillar(currentRound)}
                    </div>

                    <div class="col col-lg-3">
                        ${self.buildAssetsPillar(currentRound)}
                    </div>

                    <div class="col col-lg-3">
                        ${self.buildMoneyPillar(currentRound)}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mar-top-2">
            <div class="col col-lg-6">
                <div class="box-shaded">
                    <h5 class="box-title">History of rounds</h5>
                    %for round in range(5):
                        <div class="history-rounds-single">
                            <div class="round-close-time">Closed on February 10, 2013</div>
                            <div class="share-line">
                                <span class="name">Get Started</span>
                                <a href="#" class="share-item">Read more</a>
                                <a href="#" class="share-item">Like</a>
                                <a href="#" class="share-item">Share</a>
                            </div>
                        </div>
                    %endfor

                </div>
            </div>
            <div class="col col-lg-6">
                <div class="box-shaded">
                    <h5 class="box-title">Team Members</h5>
                    <div class="picture-pile members">
                    %for member in company.Users:
                        ${self.renderMember(member)}
                    %endfor
                    </div>
                </div>
            </div>
        </div>


    </div>
</%def>

<%def name="renderRound(template, round)">
    <div class="company-single-round">
        <div class="round-time-display">
            <h3>
                ${round.getExpiryDays()}
            </h3>
            <p>
                Round closes on ${round.getExpiryDate()}
            </p>
        </div>
    </div>
</%def>

<%def name="renderMember(member)">
    <div class="member">
        <div class="picture">
            <img src="${member.getPicture()}" class="img-thumbnail medium"/>
            %if member.unconfirmed:
                <span title="unconfirmed" class="unconfirmed">?</span>
            %endif
        </div>
        <a href="#" class="link">${member.name}</a>
    </div>
</%def>



<%def name="buildTaskPillar(round)">
    <%
        taskUrl = url("website_company_round_view" if round.Needs else "website_company_setup_basic", **vctxt.urlArgs)
    %>
    <div class="round-dashboard-group">
        <img src="${STATIC_URL}img/round/tasks.png" />
        <a class="link" href="${taskUrl}">Tasks</a>
    </div>
    <h5 class="text-muted">NEEDS FULFILLED</h5>
    <div class="progress">
        <div style="width:${round.getTaskProgress()}%;" class="progress-bar"></div>
        <span class="progress-num">${round.getTaskProgress()}%</span>
    </div>

    <h6 class="mar-top-2 text-muted">Recent events</h6>
    %if round.getTaskEvent():
        <% event = round.getTaskEvent() %>
        ${self.buildRoundEvent(event, taskUrl)}
    %endif
</%def>


<%def name="buildCustomerPillar(round)">
    <div class="round-dashboard-group">
        <img src="${STATIC_URL}img/round/customers.png" />
        <a class="link" href="${url("website_company_customers", **vctxt.urlArgs)}">Customers</a>
    </div>
    <h5 class="text-muted">PLEDGES</h5>
    <h2>${len(round.Pledges)}</h2>
    <h6 class="mar-top-2 text-muted">Recent pledges</h6>
    %if round.getPledgeEvent():
        <% event = round.getPledgeEvent() %>
        ${self.buildRoundEvent(event, url("website_company_customers", **vctxt.urlArgs))}
    %endif
</%def>


<%def name="buildAssetsPillar(round)">
    <div class="round-dashboard-group">
        <img src="${STATIC_URL}img/round/assets.png" />
        <a class="link" href="#">Assets</a>
    </div>
    <h5 class="text-muted">ASSETS VALUE</h5>
    <h2>0 $</h2>
    <h6 class="mar-top-2 text-muted">Recent events</h6>
    %if round.getAssetsEvent():
        <% event = round.getAssetsEvent() %>
        ${self.buildRoundEvent(event, "#")}
    %endif
</%def>

<%def name="buildMoneyPillar(round)">
    <div class="round-dashboard-group">
        <img src="${STATIC_URL}img/round/money.png" />
        <a class="link" href="#">Money</a>
    </div>
    <h5 class="text-muted">FUNDED</h5>
    <h2>0 $</h2>

    <h6 class="mar-top-2 text-muted">Recent contributions</h6>
    %if round.getMoneyEvent():
        <% event = round.getMoneyEvent() %>
        ${self.buildRoundEvent(event, "#")}
    %endif
</%def>



<%def name="buildRoundEvent(event, moreLink)">
    <div class="round-event">
        <div class="actor-line">
            <img src="${event.picture}" class="img-thumbnail mini"/>
            <a href="#">${event.name}</a>
        </div>
        <div class="action-line">
            ${event.text}
        </div>
        <div class="share-line">
            <span class="share-item">${event.recency}</span>
            <a href="#" class="share-item">Like</a>
            <a href="#" class="share-item">Share</a>
        </div>
        <a class="more-line" href="${moreLink}">More...</a>
    </div>
</%def>




<%def name="pre_scripts()">
    <script src="${ROOT_STATIC_URL}scripts/dist/jquery.qtip.min.js"></script>
</%def>
<%def name="post_scripts()">
    <script>
        require(["views/company/round/configure"], function(View){
            new View({el: $(".round-need-setup-page")})
        });
    </script>
</%def>