<%inherit file="../layout.html"/>
<%namespace file="../widgets.html" name="widgets"/>

<%def name="content()">
    <div class="container" id="project-round-need-dashboard">
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="site-slogan">${company.display_name}</h1>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col col-lg-3 pull-right">
                %if vctxt.isTeamMember:
                    ${self.wtfBox()}
                %endif
            </div>

            <div class="col col-lg-9">
                ${self.upperContent()}
                ${self.lowerContent()}
            </div>
        </div>
    </div>
</%def>

<%def name="upperContent()">
<div class="row">
    <div class="col col-lg-6">
        <div class="box-framed">
            <div class="box-title highlight-target">
                <div id="target-invite-team" class="highlight-anchor"></div>
                Company
            </div>
            <div class="box-content min-height-7">
                <div class="row">
                    <div class="col col-lg-2">
                        ${widgets.logo(company.logo_url)}
                    </div>
                    <div class="col col-lg-6">
                        <a href="${url("website_company_company", **vctxt.urlArgs)}"><strong>${company.display_name}</strong></a>
                        <div class="tagline">${company.description | html.trunc(50)}</div>
                        <div class="text-muted text-small">
                            ${company.display_tags}
                        </div>
                    </div>
                    <div class="col col-lg-4">
                        <h5 class="upper no-margin text-muted">
                            Team members
                        </h5>
                        <div class="picture-pile">
                        %for member in company.Users[:8]:
                            <div class="picture mini">
                                <img src="${member.picture_url}"/>
                                %if member.unconfirmed:
                                    <span title="unconfirmed" class="unconfirmed">unconfirmed</span>
                                %endif
                            </div>
                        %endfor
                        </div>
                        <a href="${url("website_company_company", **vctxt.urlArgs)}"><small>Invite more team members</small></a>
                    </div>
                </div>

                %if not company.is_setup:
                    <div class="disabled-overlay">
                        <div class="overlay-action">
                            %if vctxt.isTeamMember:
                                <a href="${url("website_company_company", **vctxt.urlArgs)}" class="btn btn-primary btn-block">Create Your Company</a>
                            %else:
                                <h3>Not Setup yet</h3>
                            %endif
                        </div>
                    </div>
                %endif
            </div>
        </div>
    </div>
    <div class="col col-lg-6">
        <div class="box-framed">
            <div class="box-title highlight-target">
                <div id="target-create-product" class="highlight-anchor"></div>
                Product
            </div>
            <div class="box-content min-height-7">
                <div class="row">
                    <div class="col col-lg-3">
                        ${widgets.logo(company.product_picture)}
                    </div>
                    <div class="col col-lg-5">
                        <a href="${url("website_company_product", **vctxt.urlArgs)}"><strong>${company.product_name}</strong></a>
                        <div class="description">${company.product_description}</div>
                        <a href="${url("website_company_product", **vctxt.urlArgs)}"><small>More...</small></a>
                    </div>
                    <div class="col col-lg-4">
                        <h5 class="upper no-margin text-muted">Pledges</h5>
                        <div class="primary-number">${company.no_pledgees}</div>
                        <h5 class="upper no-margin text-muted mar-top-1">Pledgees</h5>
                        <div class="picture-pile">
                            %for pledge in company.pledgees[:4]:
                                <div class="picture mini">
                                    <img src="${pledge.picture}"/>
                                </div>
                            %endfor
                        </div>
                    </div>
                </div>
                %if not company.product_is_setup:
                    <div class="disabled-overlay">
                        <div class="overlay-action">
                            %if vctxt.isTeamMember:
                                <a href="${url("website_company_product_create", **vctxt.urlArgs)}" class="btn btn-primary btn-block">Create Your Product</a>
                            %else:
                                <h3>Not Setup yet</h3>
                            %endif
                        </div>
                    </div>
                %endif
            </div>
        </div>
    </div>
</div>
</%def>

<%def name="lowerContent()">
    <div class="row mar-top-2">
        <div class="col col-lg-12">
            <div class="box-title highlight-target">
                <div id="target-customise-needs" class="highlight-anchor"></div>
                Needs
            </div>
        </div>
    </div>
    <div class="row" id="project-round-need-dashboard" data-entity-id=${company.Round.token}>
        %for i, col in enumerate(company.groupedNeeds(3)):
            <div class="col col-lg-4 need-card-list">
                <div class="js-need-card-list">
                %for need in col:
                    ${self.buildNeed(need, company.Round.published)}
                %endfor
                </div>
                %if not i and vctxt.isTeamMember:
                    <a href="${url("website_round_need_create", **vctxt.urlArgs)}" class="need-card-inner add-card">
                        <img src="${STATIC_URL}img/addneed.png"/>
                        <h5>Create a new Need</h5>
                    </a>
                %endif
            </div>
        %endfor
    </div>
</%def>


<%def name="buildNeed(need, published)">
    <div class="need-card ${need.status}" data-entity-id="${need.token}">
        %if vctxt.isTeamMember:
            %if not need.customized:
                <a class="customize danger" href="${url("website_round_need_edit", need=need.slug, **vctxt.urlArgs)}"><span class="glyphicon glyphicon-exclamation-sign"></span> Customize Need</a>
            %else:
                <a class="customize success" href="${url("website_round_need", need=need.slug, **vctxt.urlArgs)}"><span class="glyphicon glyphicon-ok-sign"></span> Customized</a>
            %endif
        %endif
        <div class="need-card-inner">
            %if not published and vctxt.isTeamMember:
                <a class="remove" data-target=".need-card">×</a>
            %endif

            <h5><a href="${url("website_round_need", need=need.slug, **vctxt.urlArgs)}">${need.name}</a></h5>
            <div class="description">
                ${ html.coalesce(need.description, need.meta_description) | html.trunc(300) }
            </div>
            %if need.customized:
                ${widgets.valuation(need)}
            %endif
            <div class="label-list">
                %for tag in need.tags:
                    <span class="label label-info spaced text-small">${tag}</span>
                %endfor
            </div>
            %if need.experts:
                <hr/>
                <div class="experts">
                    <h5 class="no-margin upper text-muted">Recomended Experts</h5>
                    <div class="picture-pile">
                    %for expert in need.experts[:4]:
                        <div class="picture medium">
                            <img src="${expert.picture}" alt="${expert.name}"/>
                        </div>
                    %endfor
                    </div>
                </div>
            %endif
            %if need.services:
                <hr/>
                <div class="services">
                    <h5 class="no-margin upper text-muted">Recomended Cloud Services</h5>
                    <div class="picture-pile">
                    %for service in need.services[:4]:
                        <div class="picture medium">
                            <img src="${service.logo_url}" name="${service.name}"/>
                        </div>
                    %endfor
                    </div>
                </div>
            %endif
        </div>
    </div>
</%def>




<%def name="wtfBox()">
    <div class="wtf-box company-dashboard">
        <h5 class="box-title">
            Steps
        </h5>
        <div class="box-content">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ul class="list-unstyled">
                <%
                    wf = currentRound.Workflow
                    active = wf.getActiveStage()
                %>

                %for i, stage in enumerate(wf.sortedStages):
                    <li>
                        <a class="workflow-link${' active' if active.name == stage.name else ''}${' done' if stage.completed else ''}" href="#target-${stage.slug}">
                            <span class="position">${i+1}</span>
                            ${stage.display_name}
                        </a>
                    </li>
                %endfor
            </ul>
        </div>
    </div>
    <div class="mar-top-2 highlight-target">
        <div id="target-publish" class="highlight-anchor"></div>
        <a href="#" class="btn btn-primary btn-block btn-humonguous disabled"><span>Publish</span></a>
    </div>
</%def>


<%def name="post_scripts()">
<script>
    require(["views/company/dashboard"], function(View){
        var view =new View({el: $("#project-round-need-dashboard")});
    });
</script>
</%def>
