<%inherit file="../layout.html"/>

<%def name="header_buttons()">
    <a href="${url("website_company_invite", **vctxt.urlArgs)}" class="btn btn-primary">Invite Team Members</a>
</%def>

<%def name="pageTitle()"><div class="page-header">Round</div></%def>

<%def name="content()">
    <div class="container">
        <div class="row mar-top-1">
            <div class="col col-lg-12">
                <div class="round-dashboard box-shaded ${'no-rounds' if hasRounds else 'has-rounds'}">
                    <div class="col col-lg-3">
                        <div class="round-dashboard-group">
                            <img src="${STATIC_URL}img/round/tasks.png" />
                            <a class="link" href="#">Tasks</a>
                        </div>
                        <h5 class="text-muted">NEEDS FULFILLED</h5>
                        <div class="progress">
                            <div class="progress-bar"></div>
                            <span class="progress-num">０%</span>
                        </div>
                        <h6 class="mar-top-2 text-muted">Recent events</h6>
                    </div>

                    <div class="col col-lg-3">
                        <div class="round-dashboard-group">
                            <img src="${STATIC_URL}img/round/customers.png" />
                            <a class="link" href="${url("website_company_customers", **vctxt.urlArgs)}">Customers</a>
                        </div>
                        <h5 class="text-muted">PLEDGES</h5>
                        <h2>0</h2>
                        <h6 class="mar-top-2 text-muted">Recent pledges</h6>
                    </div>

                    <div class="col col-lg-3">
                        <div class="round-dashboard-group">
                            <img src="${STATIC_URL}img/round/assets.png" />
                            <a class="link" href="#">Assets</a>
                        </div>
                        <h5 class="text-muted">ASSETS VALUE</h5>
                        <h2>0 $</h2>
                        <h6 class="mar-top-2 text-muted">Recent events</h6>
                    </div>

                    <div class="col col-lg-3">
                        <div class="round-dashboard-group">
                            <img src="${STATIC_URL}img/round/money.png" />
                            <a class="link" href="#">Money</a>
                        </div>
                        <h5 class="text-muted">FUNDED</h5>
                        <h2>0 $</h2>
                        <h6 class="mar-top-2 text-muted">Recent contributions</h6>
                    </div>

                    <div class="disabled-overlay">
                        <div class="overlay-action larger">
                            <a href="${url("website_company_round_create", **vctxt.urlArgs)}" class="btn btn-primary btn-humonguous btn-block"><span>Create a Round</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mar-top-2">
            <div class="col col-lg-6">
                <div class="box-shaded">
                    <h5 class="box-title">History of rounds</h5>
                    <div class="empty">
                        No past rounds yet
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="box-shaded">
                    <h5 class="box-title">Team Members</h5>
                    <div class="empty">
                        No team members yet
                    </div>
                </div>
            </div>
        </div>


    </div>
</%def>

<%def name="renderRound(template, round)">
    <div class="company-single-round">
        <div class="round-time-display">
            <h3>
                ${round.getExpiryDays()}
            </h3>
            <p>
                Round closes on ${round.getExpiryDate()}
            </p>
        </div>
    </div>
</%def>

<%def name="renderMember(member)">
    <div class="member">
        <div class="picture">
            <img src="${STATIC_URL}img/dummy/avatar_med.png" class="picture"/>
        </div>
        <a href="#" class="link">Helga Rapunzel</a>
        <div class="subscript">No expert</div>
    </div>
</%def>



<%def name="pre_scripts()">
    <script src="${ROOT_STATIC_URL}scripts/dist/jquery.qtip.min.js"></script>
</%def>
<%def name="post_scripts()">
    <script>
        require(["views/company/round/configure"], function(View){
            new View({el: $(".round-need-setup-page")})
        })
    </script>
</%def>