<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="site-slogan">Your have been invited to ${invite.companyName}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="site-slogan">${invite.invitorName} has invited ${invite.name} as a member of ${invite.companyName}.</h1>
            </div>
        </div>
        <div class="row">
            %if vctxt.user.isAnon():
                <div class="col col-lg-12 mar-top-4">
                    <div class="homepage-signup-bar">
                        <p class="intro"><strong>Log in now to accept</strong></p>
                        <p class="btn-social-wrapper">
                            <a href="${url('{}_login'.format(request.matched_route.name), traverse = ['linkedin'], **request.matchdict)}" class="btn btn-primary btn-linkedin">Log in with Linkedin</a>
                            <a href="${url('{}_login'.format(request.matched_route.name), traverse = ['facebook'], **request.matchdict)}" class="btn btn-primary btn-facebook">Log in with Facebook</a>
                            <a href="${url('{}_login'.format(request.matched_route.name), traverse = ['xing'], **request.matchdict)}" class="btn btn-primary btn-xing">Log in with Xing</a>
                            <a href="${url('{}_login'.format(request.matched_route.name), traverse = ['twitter'], **request.matchdict)}" class="btn btn-primary btn-xing">Log in with Twitter</a>
                        </p>
                        <small><strong class="text-muted">If you don't have a Linkedin account yet, please <a href="http://www.linkedin.com" class="text-muted">create one</a>.</strong></small>
                    </div>
                </div>
            %else:
                <div class="col col-lg-12 mar-top-4">
                    <p class="btn-social-wrapper">
                        <a href="${url("website_invite_confirm", token = request.matchdict['token'])}" class="btn btn-primary btn-large">Confirm</a>
                    </p>
                </div>
            %endif
        </div>
    </div>
</%def>
