<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../widgets.html" name="widgets"/>

<%def name="pageTitle()"><div class="page-header">${al_company.name}</div></%def>


<%def name="content()">
    ${self.details(vctxt.company, vctxt.company.Round.Product)}
</%def>

<%def name="details(company, product)">
<div class="container">
    <div class="row">
        <div class="col col-lg-8 company-customer-dashboard">
            <div class="box-title">Product Details</div>
            <div class="product-image large mar-top-1">${self.company_media(al_company)}</div>
            <div class="mar-top-1">
                ${product.display_description if product else ''}
            </div>
            <div class="mar-top-1">
                <div class="label-list">
                %for tag in al_company.display_tags:
                    <span class="label label-info spaced text-small">${tag}</span>
                %endfor
                </div>
            </div>
            %if not company.product_is_setup:
                <div class="disabled-overlay">
                    <div class="overlay-action">
                        <a href="${url("website_company_import_start", _query=[('furl', request.furl)], **vctxt.urlArgs)}" class="btn btn-primary btn-large btn-block">Import Your Product from Angellist</a>
                    </div>
                </div>
            %endif

            %if product:
                %if vctxt.isTeamMember:
                    <% form = view.schemas['ProductOffer'] %>
                    ${self.create_offer_form(product, form, values.get(form.id), errors.get(form.id))}
                %else:
                    <div class="mar-top-2"></div>
                    <div class="box-title">
                        Offers
                    </div>
                    <div class="mar-top-1">
                        <p>This product can be acquired in the following options:</p>
                        <ul class="styled">
                            %for offer in product.offers:
                                <li><span>${offer.name}</span></li>
                            %endfor
                        </ul>
                    </div>
                %endif


                %if product.Offers:

                    %if not vctxt.isTeamMember:
                        <% form = view.schemas['ProductPledge'] %>
                        ${self.pledge_offer_form(form, values.get(form.id), errors.get(form.id))}
                    %endif

                    <div class="mar-top-1">
                        <div class="box-title">Pledges</div>
                        %if company.no_pledgees:
                            %for pledge in company.Round.Pledges:
                                <div class="row mar-top-1">
                                    <div class="col col-lg-4">
                                        <div class="row">
                                            <div class="col col-sm-4">
                                                <div class="picture">
                                                    <img src="${pledge.picture}"/>
                                                </div>
                                            </div>
                                            <div class="col col-sm-8">
                                                <p class="name"><a href="#"><strong>${pledge.name}</strong></a></p>
                                                <div class="text-small text-muted">Offer Option</div>
                                                <ul class="styled">
                                                    <li><span class="text-small">${pledge.offer}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-8 control-group">
                                        ${pledge.comment}
                                    </div>
                                </div>
                            %endfor
                        %else:
                            <div class="empty">
                                No Pledges yet
                            </div>
                        %endif
                    </div>
                %endif

            %endif
        </div>
        <div class="col col-lg-4">
            <div class="box-framed">
                <div class="box-title">Company Info</div>
                <div class="box-content">
                    <div class="row">
                        <div class="col col-sm-3">
                            ${widgets.logo(company.logo_url)}
                        </div>
                        <div class="col col-sm-9">
                            <a href="${url("website_company_company", **vctxt.urlArgs)}"><strong>${company.display_name}</strong></a>
                            <p>
                                ${al_company.display_description}
                            </p>
                            <a href="${url("website_company_company", **vctxt.urlArgs)}"><small>More...</small></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-framed mar-top-1">
                <div class="box-title">Pledges</div>
                <div class="box-content">
                    <div class="row">
                        %if company.no_pledgees:
                            %for pledge in company.Round.Pledges:
                            <div class="col col-sm-3">
                                <div class="picture medium">
                                    <img src="${pledge.picture}"/>
                                </div>
                            </div>
                            %endfor
                        %else:
                            <div class="empty">
                                No Pledges yet
                            </div>
                        %endif
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</%def>


<%def name="create_offer_form(product, form, values, errors)">
    <div class="expander">
    %if product.Offers:
        <div class="show-contracted">
        <div class="mar-top-2"></div>
        <div class="box-title">
            <a class="btn btn-default" data-toggle-target=".expander" data-toggle-class="expanded">Edit</a>
            Offers
        </div>
        <div class="mar-top-1">
            <p>This product can be acquired in the following options:</p>
            <ul class="styled">
                %for offer in product.offers:
                    <li><span>${offer.name}</span></li>
                %endfor
            </ul>
        </div>
        </div>
        <div class="show-expanded row"><div class="col-lg-12 col">
    %endif

    <div class="mar-top-2"></div>
    <div class="box-title">
        %if product.Offers:
            <a class="btn btn-default" data-toggle-target=".expander" data-toggle-class="expanded">Cancel</a>
        %endif
        Setup Offers Now
    </div>

    <div class="mar-top-1">
    <form class="${form.classes}" id="${form.id}" method="POST">
        ${baseform.prelims(form)}
        %for field in form.fields:
            ${field.render(form.id, request, values, errors, view)|n}
        %endfor
        <div class="form-actions col col-offset-3 col-lg-6">
            <button type="submit" class="btn btn-primary">Save Offers</button>
        </div>
    </form>
    </div>

    %if product.Offers:
        </div></div>
    %endif
    </div>
</%def>

<%def name="pledge_offer_form(form, values, errors)">
    <div class="mar-top-2"></div>
    <div class="box-title">
        Pledge Now
    </div>
    <div class="mar-top-1">
    %if vctxt.user.isAnon():

        <a href="${url("website_company_product_pledge", **vctxt.urlArgs)}" class="btn btn-primary">Login to Pledge</a>

    %else:

        <form class="${form.classes}" id="${form.id}" method="POST">
            ${baseform.prelims(form)}
            <div class="row mar-top-1">
                <div class="col col-lg-4">
                    <div class="row">
                        <div class="col col-sm-3">
                            <div class="picture">
                                <img src="${vctxt.user.picture}"/>
                            </div>
                        </div>
                        <div class="col col-sm-9">
                            <div class="name">${vctxt.user.name}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-12">
                            <button type="submit" class="btn btn-primary">Pledge Now</button>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-8 control-group">
                    %for field in form.fields:
                        ${field.render(form.id, request, values, errors, view)|n}
                    %endfor
                </div>
            </div>
        </form>

    %endif
    </div>
</%def>





<%def name="pledgeBox(pledges)">
    <h5 class="box-title">${pluralize("{num} Pledge", "{num} Pledges", len(pledges))}</h5>
    %if pledges:

        <div class="picture-pile pledges">
            %for pledge in pledges:
                ${self.renderPledge(pledge)}
            %endfor
        </div>

    %else:

        <div class="empty">
            No Pledges Yet
        </div>

    %endif
</%def>
<%def name="renderPledge(pledge)">
    <div class="member">
        <div class="picture">
            <img src="${pledge.picture}" class="img-thumbnail medium"/>
        </div>
        <a href="#" class="link">${pledge.name}</a>
    </div>
</%def>



<%def name="company_media(al_company)" filter="trim">
    <%
        youtube_id = al_company.getYoutubeVideoId()
        vimeo_id = al_company.getVimeoVideoId()
    %>
    %if youtube_id:
        <div class="you-tube-container" data-video-id="${youtube_id}"></div>
    %elif vimeo_id:
        <div class="vimeo-container">
        <iframe src="http://player.vimeo.com/video/${vimeo_id}" width="847" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    %elif al_company.video_url:
        <a href="${al_company.video_url}">${al_company.video_url}</a>
    %elif al_company.screenshots:
        <div class="product-screenshots">
            <img src="${al_company.getFirstScreenShot()}"/>
        </div>
    %endif
</%def>

<%def name="post_scripts()">
    <script>
        require(["tools/youtube"], function(yt){
            yt.onLoad({root: $(".company-customer-dashboard")})
        })
        require(["form"], function(View){
            $("form.form-validated").each(function(idx, elem){
                new View({el: $(elem)});
            });
        });
    </script>
</%def>
