<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../widgets.html" name="widgets"/>



<%def name="bcrumbs()">
    <div class="container breadcrumbs">
        <div class="row">
            <div class="col col-lg-10 crumbs-inner">
                <a class="btn btn-primary btn-large pull-right" href="${root.template_select_url}">Create Project</a>
                <a class="crumb" href="${url(root)}"><span class="title">Home</span><br/>UFOStart</a>
                <span class="crumb"><span class="title">Browse</span><br/>Top Tasks</span>
            </div>
        </div>
    </div>
</%def>


<%def name="content()">
    <div class="container">

        <div class="row">
            <div class="col col-lg-10">
                <h1 class="section-title">
                    <span class="brand-primary">
                        Tasks that might interest you
                    </span>
                </h1>
            </div>
            <div class="col col-lg-2">
                <h2 class="brand-primary">Top 20 Tags</h2>
            </div>
        </div>

        ${self.bodyContent()}
    </div>
</%def>

<%def name="bodyContent()">
    <div class="row">
        <div class="col col-lg-10">
            <div class="row">
                %for task in ctxt.tasks:
                    <div class="col col-lg-4">
                        ${widgets.publicNeedCard(task, descr_len = 300)}
                    </div>
                %endfor
            </div>
        </div>
        <div class="col col-lg-2">
            <ul class="list-unstyled">
                %for tag in ctxt.tags:
                    <li>
                        %if tag.name == ctxt.tag:
                            <strong>${tag.name}</strong>
                        %else:
                            <a class="text-strong" href="${ctxt.browse_url(tag.name)}">${tag.name}</a>
                        %endif
                    </li>
                %endfor
            </ul>
        </div>
    </div>
</%def>
