<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../widgets.html" name="widgets"/>

<%def name="content()">
    <div class="container">

        <%widgets:pageHeader>
            User Profile
        </%widgets:pageHeader>


        <div class="row">
            <div class="col col-lg-2">
                <div class="clearfix"><div class="cut-corner pull-left">
                ${widgets.logo(profile.picture, alt=profile.name)}
                </div></div>
                <div class="mar-top-1"><strong class="brand-teal">${profile.name}</strong></div>
                <p class="text-small">${html.nn(profile.headline)}</p>
                <div class="number-widget mar-top-2">
                    <h6>Startup Value</h6>
                    <div class="value light">${profile.displayStartupValue}</div>
                </div>

                <div class="number-widget mar-top-1">
                    <h6>Companies</h6>
                    <div class="small-value">${len(profile.Companies)}</div>
                </div>
                <div class="row mar-top-1">
                    <div class="col col-lg-6 number-widget">
                        <strong class="text-muted text-small">Mentoring</strong>
                        <div class="small-value">${len(profile.mentoredStartups)}</div>
                    </div>
                    <div class="col col-lg-6 number-widget">
                        <strong class="text-muted text-small">Endorsements</strong>
                        <div class="small-value">${len(profile.getEndorsements())}</div>
                    </div>
                </div>

            </div>
            <div class="col col-lg-5">
                ${self.mentoredCompanies(profile.mentoredStartups)}
                ${self.companies(profile.Companies)}
            </div>
            <div class="col col-lg-5">
                ${self.applications(profile.Applications)}
                ${self.displayEndorsements(profile.getEndorsements())}
            </div>
        </div>

        <div class="row mar-top-2">
            <div class="col col-lg-12">
                ${self.bestMatchNeeds(isMyProfile, best_match)}
            </div>
        </div>

        <div class="row mar-top-2">
            <div class="col col-lg-12">
                ${self.bestMatchNeeds(isMyProfile, location_needs)}
            </div>
        </div>

    </div>
</%def>

<%def name="mentoredCompanies(companies)">
    %if companies:
    <div class="box-title">Mentoring</div>
    %for company in companies:
        %if company.currentRound:
            <div class="single-company box-card compact">
                ${widgets.company_logo(company)}
                <div class="right-box">
                    <div class="overflow"><a href="${request.root.company_url(company.slug)}"><strong>${company.name}</strong></a></div>
                    %if company.currentRound.published:
                        <div><strong>${company.currentRound.getExpiryDays()}</strong></div>
                    %elif company.currentRound.pendingApproval:
                        <div><strong class="brand-primary">Pending Approval</strong></div>
                    %else:
                        <div>Round not published</div>
                    %endif
                </div>
            </div>
        %endif
    %endfor
    %endif
</%def>

<%def name="companies(companies)">
    <div class="box-title">Companies</div>
    %if len(companies):
        %for company in companies:
            <div class="single-company box-card compact">
                ${widgets.company_logo(company)}
                <div class="right-box">
                    <div class="row">
                        <div class="col col-lg-6">
                            <div class="overflow"><a href="${root.company_url(company.slug)}"><strong>${company.name}</strong></a></div>
                            <small class="text-muted">Round 1</small>
                            %if company.currentRound and company.currentRound.published:
                                <div class="text-small">${company.currentRound.getExpiryDays()}</div>
                            %else:
                                <div class="text-small text-muted">Round not published</div>
                            %endif
                        </div><div class="col col-lg-6">
                            <div class="member-pile face-pile-mini">
                                %for member in company.Users:
                                    ${widgets.member_pic(member, 'micro')}
                                %endfor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        %endfor
    %else:
        <div class="empty">
            No Companies yet<br/>
            <a href="${url('website_template_basic')}" class="btn btn-primary">Start a Company now</a>
        </div>
    %endif
</%def>


<%def name="applications(applications)">
    <div class="box-title">Applications</div>
    %if len(applications):
        %for application in applications:
            <div class="box-card compact single-company">
                ${widgets.app_company_logo(application, root.need_url(application.companySlug, application.needSlug))}
                <div class="right-box">
                    <div class="date-ear-mark">${application.display_date}</div>
                    <!-- TODO: check application.needToken -->
                    <div class="overflow"><a href="${root.need_url(application.companySlug, application.needSlug)}"><strong>${application.need}</strong></a></div>
                    <p class="overflow text-muted text-small">${application.companyName}</p>
                    <div class="application-message">${application.message | html.trunc(50)}</div>
                </div>
            </div>
        %endfor
    %else:
        <div class="empty">
            No Applications yet
        </div>
    %endif
</%def>


<%def name="displayEndorsements(endorsements)">
    <div class="box-title">Endorsements</div>
    %if len(endorsements):
        %for endorsement in endorsements:
            <div class="box-card extra-compact single-company">
                ${widgets.logo(endorsement.endorserPicture)}
                <div class="right-box">
                    <div class="date-ear-mark">${endorsement.display_date}</div>
                    <div class="overflow"><a href="${root.profile_url(endorsement.endorserToken)}"><strong>${endorsement.endorserName}</strong></a></div>
                    <p class="overflow text-small text-muted">${endorsement.endorserHeadline}</p>
                    <small>Endorsed ${profile.name} for
                        <a class="brand-teal text-strong" href="${root.need_url(endorsement.companySlug, endorsement.needSlug)}">${endorsement.needName}</a> at
                        <a class="brand-teal text-strong" href="${root.company_url(endorsement.companySlug)}">${endorsement.companyName}</a>.
                    </small>
                </div>
            </div>
        %endfor
    %else:
        <div class="empty">
            No Endorsements yet
        </div>
    %endif
    </%def>



<%def name="bestMatchNeeds(isMyProfile, needs)">
    <div class="box-title">Needs that best match ${'your' if isMyProfile else u"{}'s".format(profile.name)} skills</div>
    %if len(needs):
        <div class="row">
            %for need in needs:
                <div class="col col-lg-3">
                    ${widgets.publicNeedCard(need)}
                </div>
            %endfor
        </div>
    %else:
        <div class="empty">No Needs matching ${'your' if isMyProfile else u"{}'s".format(profile.name)} skill set found</div>
    %endif
</%def>

<%def name="closeByNeeds(isMyProfile, needs)">
    <div class="box-title">Current Needs close by</div>
    %if len(needs):
        <div class="row">
            %for need in needs:
                <div class="col col-lg-3">
                    ${widgets.publicNeedCard(need)}
                </div>
            %endfor
        </div>
    %else:
        <div class="empty">No Needs matching ${'your' if isMyProfile else u"{}'s".format(profile.name)} skill set found</div>
    %endif

</%def>