<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="pageTitle()"><div class="page-header">${need.name}</div></%def>

<%def name="content()">
    <div class="container container-constricted">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="site-slogan"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">


            </div>
        </div>
    </div>
</%def>
