<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../widgets.html" name="widgets"/>


<%def name="pageTitle()"><div class="page-header">${vctxt.company.display_name}</div></%def>

<%def name="content()">
    <div class="container">
        <div class="row">
            ${self.buildPrivateNeed(vctxt.need)}
        </div>
    </div>
</%def>


<%def name="buildPrivateNeed(need)">
    <div class="col col-lg-8">
        <div class="box-title">
            <a href="${url("website_round_need_edit", **vctxt.urlArgs)}" class="btn btn-primary">Edit</a>
            ${vctxt.need.name}
        </div>
        <div class="description mar-top-1">
            %if need.picture:
                <div class="picture need empty">
                    <img src="${need.picture}"/>

                </div>
            %endif
            ${vctxt.need.description}
        </div>
        <h5 class="text-muted">
            Related Tags
        </h5>
        <div class="label-list">
            %for tag in need.tags:
                <span class="label label-info spaced text-small">${tag}</span>
            %endfor
        </div>

    </div>
    <div class="col col-lg-4">
        <div class="box-framed">
            ${self.infoBox(vctxt.company, need)}
        </div>
    </div>
</%def>

<%def name="infoBox(company, need)">
    <div class="box-title">
        Info
    </div>
    <div class="box-content">
    <div class="valuation">
        <div class="primary-number pull-right">
            ${need.equity_mix}%
            <div class="legend">Equity</div>
        </div>
        <div class="primary-number">
            ${need.money_value}
            <div class="legend">Value</div>
        </div>
    </div>
    <h5 class="upper text-muted">
        Company
    </h5>
    <div class="row">
        <div class="col col-lg-3">
            ${widgets.logo(company.logo_picture)}
        </div>
        <div class="col col-lg-6">
            <a href="${url("website_company", **vctxt.urlArgs)}"><strong>${company.display_name}</strong></a>
            <div class="tagline">${company.display_description}</div>
            <a href="${url("website_company", **vctxt.urlArgs)}"><small>More...</small></a>
        </div>
        <div class="col col-lg-3">
            <h5 class="text-muted no-margin">Team members</h5>
            <h5 class="no-margin brand-primary">${company.no_users}</h5>
        </div>
    </div>
    <h5 class="upper text-muted">
        Product
    </h5>
    <div class="row">
        <div class="col col-lg-3">
            ${widgets.logo(company.product_picture)}
        </div>
        <div class="col col-lg-6">
            <a href="${url("website_company_product", **vctxt.urlArgs)}"><strong>${company.product_name}</strong></a>
            <div class="description">${company.product_description}</div>
            <a href="${url("website_company_product", **vctxt.urlArgs)}"><small>More...</small></a>
        </div>
        <div class="col col-lg-3">
            <h5 class="text-muted no-margin">Pledges</h5>
            <h5 class="no-margin brand-primary">${company.no_pledgees}</h5>
        </div>
    </div>
    </div>
</%def>