<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="pageTitle()">
    <div class="page-header">Your Project Template</div>
</%def>


<%def name="content()">
    <div class="container container-constricted">
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="site-slogan">Pick one that describes your company.</h1>
                <h2>No worries, everything can be customised later.</h2>
            </div>
        </div>
        <div class="row template-list">
            %for t in templates:
                <div class="col col-lg-6">
                    <div class="single-template">
                        <a href="${url("website_template_details", template=t.key)}" class="single-template-button ${t.getStyleKey()} no-btn">
                            <img src="${STATIC_URL}img/templates/${t.getStyleKey()}.png"/>
                            <span class="name">${t.name}</span>
                        </a>
                        <p class="description">
                            <strong>${t.name}</strong> is lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        </p>
                    </div>
                </div>
            %endfor
        </div>
    </div>
</%def>