<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>


<%def name="header_buttons()">
    <a href="#" class="btn btn-primary switchLibrary">Task Library</a>
</%def>

<%def name="pageTitle()">
    <div class="page-header">Task Setup</div>
    <div class="breadcrumbs">
        <div class="crumb">1</div>
        <div class="crumb active">2</div>
        <div class="crumb">3</div>
    </div>
</%def>

<%def name="content()">
    <div id="round-need-setup-page">
        <div class="container tasks-used">
            <div class="row">
                <div class="col col-lg 12">
                    <h1>${template.name} <span class="template-icon ${template.getStyleKey()}"></span></h1>
                    <div class="template-need-list">
                        %for need in template.Need:
                            ${self.renderNeed(need)}
                        %endfor
                    </div>
                    <a href="${url("website_template_create", template = template.name, traverse='')}" class="btn btn-primary btn-block btn-humonguous"><span>Find Solutions</span></a>
                </div>
            </div>
        </div>
    </div>
</%def>


<%def name="renderNeed(need)">
<div class="single-need" data-entity-sort="${need.name}" data-entity-id="${need.key}">
    <div class="single-need-inner">
        <div class="need-title">${need.name}</div>
        <div class="need-description">Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
    </div>
</div>
</%def>
