<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="pageTitle()"><div class="page-header">Sign Up / Log In</div></%def>

<%def name="content()">
    <div class="container centered auth-page">
        <div class="row">
            <div class="col col-lg-12">
                <p class="intro"><strong>Sign Up now</strong></p>
                <p class="btn-social-wrapper">
                    <a href="${url("website_social_login", network = 'linkedin', action='start')}?furl=${request.furl}" class="btn btn-primary btn-linkedin">Sign Up with Linkedin</a>
                    <a href="${url("website_social_login", network = 'facebook', action='start')}?furl=${request.furl}" class="btn btn-primary btn-facebook">Sign Up with Facebook</a>
                    <a href="${url("website_social_login", network = 'xing', action='start')}?furl=${request.furl}" class="btn btn-primary btn-xing">Sign Up with Xing</a>
                    <a href="${url("website_social_login", network = 'twitter', action='start')}?furl=${request.furl}" class="btn btn-primary btn-xing">Sign Up with Twitter</a>
                </p>
                <small><strong class="text-muted">If you don't have a Linkedin account yet, please <a href="http://www.linkedin.com" class="text-muted">create one</a>.</strong></small>
            </div>
        </div>
    </div>
</%def>