<%inherit file="index.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../../widgets.html" name="widgets"/>

<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="site-slogan">
                    Need Details
                </h1>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col col-lg-8">
                <div class="box-title">${vctxt.need.name}</div>
                ${self.needDetails(vctxt.need)}
            </div>
            <div class="col col-lg-4">
                <div class="box-framed">${self.publicInfoBox(vctxt.company, vctxt.need)}</div>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col col-lg-12">
                <div class="box-title">
                    <a class="btn btn-default" href="${url("website_round_need", **vctxt.urlArgs)}">Cancel</a>
                    Apply to solve this need now
                </div>

                <div class="box-framed box-dark">
                    <div class="box-content">
                        ${self.build_form(view.form, values.get(view.form.id), errors.get(view.form.id))}
                    </div>
                </div>

            </div>
        </div>
    </div>
</%def>


<%def name="build_form(form, values, errors)">
    <form class="${form.grid.form_classes}" id="${form.id}" method="POST">
        ${baseform.prelims(form)}
        <div class="row mar-top-1" id="application-form">
            <div class="col col-lg-4">
                <div class="row">
                    <div class="col col-sm-3">
                        <div class="picture">
                            <img src="${vctxt.user.picture}"/>
                        </div>
                    </div>
                    <div class="col col-sm-9">
                        <div class="name">${vctxt.user.name}</div>
                        <p class="text-small">${html.nn(vctxt.user.position)}</p>
                    </div>
                </div>
                <div class="row mar-top-1">
                    <div class="col col-lg-12">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col col-lg-8 control-group">
                <textarea class="x-high" name="${form.fieldMap['message'].getName(form.id)}" required></textarea>
            </div>
        </div>
    </form>
</%def>



<%def name="post_scripts()">
    <script>
        require(["tools/ajax"], function(ajax){
            ajax.ifyForm({root: $(".form-validated")})
        });
    </script>
</%def>