<%inherit file="index.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../../widgets.html" name="widgets"/>


<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="section-title">
                    %if vctxt.canEditCompany:
                        <span class="btn-wrapper">
                            <a href="${url("website_round_need", **vctxt.urlArgs)}" class="btn btn-primary">Cancel</a>
                        </span>
                    %endif
                    <span class="brand-primary">${vctxt.need.name}</span>
                </h1>
            </div>
        </div>
        <div class="row mar-top-2">
            <div class="col col-lg-9">
                <div class="box-content box-dark">
                    ${self.build_form(vctxt.need, view.form, values.get(view.form.id), errors.get(view.form.id))}
                </div>
            </div>
            <div class="col col-lg-3">
                %if vctxt.need.summary:
                    <div class="wtf-box active">
                        <h2 class="wtf-title">
                            Before you go on
                        </h2>
                        <div class="wtf-content mar-top-1">
                            ${vctxt.need.summary}
                        </div>
                    </div>
                %endif
            </div>

        </div>

        <div class="row mar-top-2">
            <div class="col col-lg-3">
                ${self.needOverview(vctxt.need)}
            </div>
            <div class="col col-lg-6">
                ${self.needDetails(vctxt.canEditCompany, vctxt.company, vctxt.need)}
            </div>
            <div class="col col-lg-3">
                ${widgets.companyInfo(vctxt.company)}
            </div>
        </div>

        <div class="row mar-top-2">
            <div class="col col-lg 12">
                <h1 class="section-title">
                    <span class="brand-primary">Applications</span>
                </h1>
                ${self.applications(vctxt.need.Applications)}
            </div>
        </div>
    </div>
</%def>





<%def name="build_form(need, form, values, errors)">
    <form class="${form.grid.form_classes} labels-capitalized" id="${form.id}" method="POST">
        ${baseform.prelims(form)}

        ${form.fieldMap['name'].render(form.id, request, values, errors, view)|n}
        <div class="row">
            <div class="col col-lg-3">
                ${form.fieldMap['picture'].render(form.id, request, values, errors, view)|n}
            </div>
            <div class="col col-lg-4 col-offset-1">
                ${form.fieldMap['total'].render(form.id, request, values, errors, view)|n}
                <div class="control-group">
                    <div class="control-label">
                        Cash Value
                    </div>
                    <div class="pseudo-controls data-target cash" data-currency-symbol="${need.currency_symbol}">
                        ${need.display_cash}
                    </div>
                    <input type="hidden" name="${form.id}.cash" value="${values.get('cash', '')}"/>
                </div>
            </div>
            <div class="col col-lg-4">
                ${form.fieldMap['ratio'].render(form.id, request, values, errors, view)|n}

                <div class="control-group">
                    <div class="control-label">
                        Equity Value
                    </div>
                    <div class="pseudo-controls data-target equity" data-currency-symbol="${need.currency_symbol}">
                        ${need.display_equity}
                    </div>
                    <input type="hidden" name="${form.id}.equity" value="${values.get('equity', '')}"/>
                </div>
            </div>
        </div>

        ${form.fieldMap['customText'].render(form.id, request, values, errors, view)|n}
        <div class="label-list">
            ${form.fieldMap['Tags'].render(form.id, request, values, errors, view)|n}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
    </form>
</%def>


<%def name="post_scripts()">
    <script type="text/javascript">
        (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
    </script>
    <script>
        require(["views/company/need_edit"], function(View){
            filepicker.setKey('A0Me4BRKSLSnOkrY6Jb2xz');
            $(".form-validated").each(function(idx, form){
                new View({el:form})
            });
        });
    </script>
</%def>