<%inherit file="../../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../../widgets.html" name="widgets"/>

<%def name="header_buttons()">
    <div class="pull-right">
        Company: <a href="${url('website_company', **vctxt.urlArgs)}">${vctxt.company.name}</a>
    </div>
</%def>


<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="site-slogan">
                    ${vctxt.need.name}
                </h1>

                <p>${vctxt.need.summary}</p>
            </div>
        </div>
    </div>
    %if vctxt.isTeamMember:
        <div class="container">
            <div class="row mar-top-1">
                <div class="col col-lg-8">
                    ${self.bodyContent(vctxt.need)}
                </div>
                <div class="col col-lg-4">
                    <div class="box-framed">${self.privateInfoBox(vctxt.company, vctxt.need)}</div>
                    <a href="${url("website_round_need_apply", _anchor='application-form', **vctxt.urlArgs)}" class="btn btn-primary btn-block mar-top-1">${'Login to Apply' if vctxt.user.isAnon() else 'Apply'}</a>
                </div>
            </div>
        </div>
    %else:
        <div class="container">
            <div class="row mar-top-1">
                <div class="col col-lg-8">
                    <div class="box-title">${vctxt.need.name}</div>
                    ${self.needDetails(vctxt.need)}
                </div>
                <div class="col col-lg-4">
                    <div class="box-framed">${self.publicInfoBox(vctxt.company, vctxt.need)}</div>
                    <a href="${url("website_round_need_apply", _anchor='application-form', **vctxt.urlArgs)}" class="btn btn-primary btn-block mar-top-1">${'Login to Apply' if vctxt.user.isAnon() else 'Apply'}</a>
                </div>
            </div>
        </div>
    %endif
    <div class="container">
        <div class="row mar-top-2">
            <div class="col col-lg 12">
                <div class="box-title">Applications</div>
                ${self.applications(vctxt.need.Applications)}
            </div>
        </div>
    </div>
</%def>

<%def name="bodyContent(need)">
    <div class="box-framed">
        <div class="box-title"><a href="${url("website_round_need_edit", **vctxt.urlArgs)}" class="btn btn-primary">Edit</a>Need Details</div>
        <div class="box-content">${self.needDetails(need)}</div>
    </div>
</%def>

<%def name="needDetails(need)">
    <div class="description mar-top-1">
        %if need.picture:
            <div class="picture need empty">
                <img src="${need.picture}"/>
            </div>
        %endif
        ${widgets.valuation(need)}

        <div>
            ${html.nn(vctxt.need.customText)}
        </div>
    </div>
    <h5 class="text-muted">
        Related Tags
    </h5>
    <div class="label-list">
        %for tag in need.tags:
            <span class="label label-info spaced text-small">${tag}</span>
        %endfor
    </div>
</%def>

<%def name="privateInfoBox(company, need)">
<div class="box-title">Suggested Solutions</div>
<div class="box-content">
    %if need.experts:
        <div class="experts">
            <h5 class="text-muted no-margin upper">Recommended Experts</h5>
            <div class="expert-list">
            %for expert in need.experts:
            <div class="expert-briefing">
                <div class="row">
                    <div class="col col-lg-3">
                        <div class="picture medium">
                            <img src="${expert.picture}" alt="${expert.name}"/>
                        </div>
                    </div>
                    <div class="col col-lg-7">
                        <a href="#" class="overflow"><strong>${expert.name}</strong></a>
                        <p class="text-muted text-small">${expert.position}</p>
                        <div class="show-expanded">
                            <p>${expert.display_skills}</p>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <a class="expander btn btn-default btn-large btn-block" data-toggle-target=".expert-briefing" data-toggle-class="expanded" data-toggle-text="▼">◀</a>
                    </div>
                </div>
                <div class="expert-details row show-expanded">
                    <div class="col col-lg-12">
                        %if expert.introducers:
                            <h6 class="text-muted">Introducers</h6>
                            %for intro in expert.introducers:
                            <div class="row mar-top-half">
                                <div class="col col-sm-2">
                                    <div class="picture mini">
                                        <img src="${intro.picture}" alt="${intro.name}"/>
                                    </div>
                                </div>
                                <div class="col col-sm-4">
                                    <a class="overflow" href="#"><strong>${intro.name}</strong></a>
                                    <p class="text-muted text-small">${intro.position}</p>
                                </div>
                                <div class="col col-lg-6">
                                    <a href="#" class="btn btn-primary btn-small btn-block ">Get Introduction</a>
                                </div>
                            </div>
                            %endfor
                        %endif
                    </div>
                </div>
                </div>
            %endfor
            </div>
        </div>
    %endif
    <h5 class="text-muted no-margin upper mar-top-2">Recommended Cloud Services</h5>
    <div class="service-list row">
    %for service in need.services:
        <div class="col col-lg-4 service-briefing">
            <div class="picture medium">
                <img src="${service.logo_url}" name="${service.name}"/>
            </div>
            <a href="${service.url or '#'}" class="overflow"><strong>${service.name}</strong></a>
            <p class="text-muted text-small">${service.description | html.trunc(50)}</p>
            <a href="${service.url or '#'}" target="_blank" class="btn btn-small btn-block btn-primary">See Details</a>
        </div>
    %endfor
    </div>
</div>
</%def>



<%def name="publicInfoBox(company, need)">
    <div class="box-title">
        Info
    </div>
    <div class="box-content">
        <h5 class="upper text-muted">
            Company
        </h5>
        <div class="row">
            <div class="col col-lg-3">
                ${widgets.logo(company.logo_url)}
            </div>
            <div class="col col-lg-6">
                <strong><a href="${url("website_company", **vctxt.urlArgs)}" class="overflow">${company.display_name}</a></strong>
                <div class="tagline">${company.description | html.trunc(50)}</div>
                <a href="${url("website_company", **vctxt.urlArgs)}"><small>More...</small></a>
            </div>
            <div class="col col-lg-3">
                <h5 class="text-muted no-margin">Team members</h5>
                <h5 class="no-margin brand-primary">${company.no_users}</h5>
            </div>
        </div>
        <h5 class="upper text-muted">
            Product
        </h5>
        <div class="row">
            <div class="col col-lg-3">
                ${widgets.logo(company.product_picture)}
            </div>
            <div class="col col-lg-6">
                %if company.product_is_setup:
                    <a href="${url("website_company_product", **vctxt.urlArgs)}"><strong>${company.product_name}</strong></a>
                    <div class="description">${company.product_description}</div>
                    <a href="${url("website_company_product", **vctxt.urlArgs)}"><small>More...</small></a>
                %else:
                    <strong>Not setup yet</strong>
                %endif
            </div>
            <div class="col col-lg-3">
                <h5 class="text-muted no-margin">Pledges</h5>
                <h5 class="no-margin brand-primary">${company.no_pledgees}</h5>
            </div>
        </div>
    </div>
</%def>



<%def name="applications(applications)">
%if applications:
    %for application in sorted(applications, reverse = True):
        <div class="row mar-top-1 single-application" id="applications">
            <div class="col col-lg-12">
            <div class="application">
                <div class="row">
                    <div class="col col-lg-4">
                        <div class="row">
                            <div class="col col-sm-3">
                                <div class="picture">
                                    <img src="${application.User.picture}"/>
                                </div>
                            </div>
                            <div class="col col-sm-9">
                                <a href="#" class="name"><strong>${application.User.name}</strong></a>
                                <p class="text-small">${application.User.position}</p>
                                <p class="text-small">${application.display_date}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-8 control-group">
                        ${application.message}
                    </div>
                </div>
            </div>
            </div>
        </div>
    %endfor
%else:
    <div class="empty">
        No Applications Yet
    </div>
%endif
</%def>