<%inherit file="../../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../../widgets.html" name="widgets"/>
<%namespace file="../company/widgets.html" name="companyWidgets"/>


<%def name="content()">
    <div class="container" data-entity="need" data-entity-id="${ctxt.need.slug}" data-name="${ctxt.need.name}" data-company-name="${ctxt.company.display_name}">
        <%widgets:pageHeader canEdit="${ctxt.canEdit and not ctxt.need.fulfilled}">
            ${ctxt.need.name}
        </%widgets:pageHeader>

        <div class="row mar-top-1">
            <div class="col col-lg-3">
                ${self.needOverview(ctxt.need)}
                %if not ctxt.need.fulfilled:
                ${self.inviteForm(view.schemas['Needinvite'], values, errors)}
                %endif
            </div>
            <div class="col col-lg-6">
                ${self.needDetails(ctxt.canEdit, ctxt.company, ctxt.need)}
            </div>
            <div class="col col-lg-3">
                ${self.wtfBox()}
                ${self.otherTasks(ctxt.round)}
                ${widgets.sharebtns()}
            </div>
        </div>

        <div class="row mar-top-2">
            <div class="col col-lg 12">
                ${self.applications(ctxt.need, ctxt.need.Applications)}
            </div>
        </div>
    </div>
</%def>

<%def name="needOverview(need)">
    ${widgets.company_logo(ctxt.company, classes='medium')}
    <a class="entity-link  mar-top-half" href="${root.company_url(ctxt.company.slug)}">${ctxt.company.name}</a>
    <div class="pitch">${html.nn(ctxt.company.pitch)}</div>

    <div class="box-shaded mar-top-3">
        <div class="box-shaded">
            <div class="box-title">Task Details</div>
            <div class="box-shaded box-content">
                <p class="text-small">We are working with mixed equity-cash payments. You’ll get paid in cash as well as company shares.</p>
                ${widgets.valuation(need)}
            </div>
        </div>
    </div>

    %if need.fulfilled:
        <div class="mar-top-2">
            <div class="box-title">Task Fulfilled by</div>
            <div class="box-card compact box-content box-dark-shaded">
                ${companyWidgets.applicationCard(need.acceptedApplication)}
            </div>
        </div>
    %elif ctxt.round.published:
        <div class="mar-top-2">
            <a href="${url(ctxt, 'apply')}#application-form" class="btn btn-primary btn-block">${'Login to Apply' if root.user.isAnon() else 'Apply'}</a>
        </div>
    %endif
</%def>



<%def name="inviteForm(form, values, errors)">
    %if form:
        <div class="mar-top-2 expander ${'expanded' if request.params.get('invite') else ''}">
            <a class="btn btn-primary show-contracted" data-toggle-target=".expander" data-toggle-class="expanded">Invite to Task</a>
            <form class="box-content box-dark show-expanded ${form.grid.form_classes}" id="${form.id}" method="POST">
                ${baseform.prelims(form)}
                ${form.fieldMap['name'].render(form.id, request, values.get(form.id), errors.get(form.id), view)|n}
                ${form.fieldMap['email'].render(form.id, request, values.get(form.id), errors.get(form.id), view)|n}
                <button type="submit" class="btn btn-primary">Invite member</button>
                <a class="btn btn-default" data-toggle-target=".expander" data-toggle-class="expanded">Cancel</a>
            </form>
        </div>
    %endif
</%def>



<%def name="recommendedExperts(company, need)">
    <div class="expert-list">
    %for expert in need.experts:
    <div class="single-team-member box-card extra-compact">
        <div class="picture">
            <img src="${expert.picture_url}" alt="${expert.name}"/>
        </div>
        <div class="right-box">
                %if expert.introducers:
                    <a class="expander btn btn-default btn-large pull-right" data-toggle-target=".single-team-member" data-toggle-class="expanded" data-toggle-text="▼">◀</a>
                %elif not root.user.isMe('linkedin', expert.linkedinId):
                    <div class="pull-right linkedin-widget" data-widget="SendMessage" data-entity-id="${expert.linkedinId}" data-entity-name="${expert.name}">
                        <a class="btn btn-primary">Send Message</a>
                    </div>
                %endif
            <strong>${expert.name}</strong>
            <p class="text-muted text-small">${html.nn(expert.position)}</p>
            %if expert.introducers:
                <div class="expert-details show-expanded">
                    <h6 class="text-muted">Introducers</h6>
                    %for intro in expert.introducers:
                    <div class="box-card box-card extra-compact mar-top-2">
                        <div class="picture mini">
                            <img src="${intro.picture}" alt="${intro.name}"/>
                        </div>
                        <div class="right-box">

                            %if not root.user.isMe('linkedin', intro.linkedinId):
                                <div class="pull-right linkedin-widget" data-widget="SendMessage" data-entity-id="${intro.linkedinId}" data-entity-name="${intro.name}"  data-expert-name="${expert.name}">
                                    <a class="btn btn-primary">Get Introduction</a>
                                </div>
                            %endif
                            <a class="overflow" href="#"><strong>${intro.name}</strong></a>
                            <p class="text-muted text-small">${intro.position}</p>
                        </div>
                    </div>
                    %endfor
                </div>
            %endif
        </div>
    </div>
    %endfor
    </div>
</%def>

<%def name="recommendedServices(company, need)">
    %for service in need.services:
        <div class="col col-lg-4 service-briefing mar-top-1">
            <div class="picture medium">
                <img src="${service.logo_url}" name="${service.name}"/>
            </div>
            <a href="${service.url or '#'}" class="overflow"><strong>${service.name}</strong></a>
            <p class="text-muted text-small">${service.description | html.trunc(50)}</p>
            <a href="${service.url or '#'}" target="_blank" class="btn btn-block btn-primary">See Details</a>
            <div class="mar-top-1"></div>
        </div>
    %endfor
</%def>


<%def name="needDetails(canEdit, company, need)">

    %if need.picture:
        <img src="${need.picture}"/>
    %endif

    ${html.nn(need.customText) | html.html,n }

    <div class="mar-top-2">
        %for tag in need.tags:
            <span class="label label-info spaced text-small">${tag}</span>
        %endfor
    </div>


    <div class="mar-top-2">
        <div class="box-title">Endorsed Experts</div>
        ${self.endorsedExperts(company, need)}
    </div>

    %if canEdit and not need.fulfilled:
        %if need.experts:
            <div class="experts mar-top-2">
                <div class="box-title">Suggested Experts</div>
                ${self.recommendedExperts(company, need)}
            </div>
        %endif

        %if need.services:
            <div class="service-list row  mar-top-2">
                <div class="col col-lg-12">
                    <div class="box-title">
                        Recommended Cloud Services
                    </div>
                </div>
                ${self.recommendedServices(company, need)}
            </div>
        %endif
    %endif
</%def>


<%def name="endorsedExperts(company, need, withSearch = True)">
    <div class="endorsements" data-entity-id="${need.token}" data-entity="Need">
        <script type="text/template" class="endorsement-template">
            <div class="row single-candidate search-result-item" data-entity-id="{{ model.id }}">
                <div class="col col-sm-2">
                    <div class="picture medium">
                        <img src="{{ model.getPicture() }}"/>
                    </div>
                </div>
                <div class="col col-sm-10">
                    <div class="pull-right linkedin-widget" data-widget="SendMessage" data-entity-id="{{ model.id }}"  data-entity-name="{{ model.getName() }}">
                        <a class=" btn btn-primary">Send Message</a>
                    </div>
                    <strong>{{ model.getName() }}</strong>
                    <p class="text-small text-muted">{{ model.getPosition() }}</p>
                </div>
            </div>
        </script>
        <div class="results">
            %for model in need.Endorsements:
                <div class="row single-candidate search-result-item" data-entity-id="${ model.id }">
                    <div class="col col-sm-2">
                        <div class="picture medium">
                            <img src="${ model.getPicture() }"/>
                        </div>
                    </div>
                    <div class="col col-sm-10">
                        %if not root.user.isMe('linkedin', model.id):
                        <div class="pull-right linkedin-widget" data-widget="SendMessage" data-entity-id="${ model.id }"  data-entity-name="${model.endorseeName}">
                            <a class=" btn btn-primary">Send Message</a>
                        </div>
                        %endif
                        <strong>${ model.getName() }</strong>
                        <p class="text-small text-muted">${ model.getPosition() }</p>
                    </div>
                </div>
            %endfor
        </div>
    </div>

    %if not need.fulfilled and withSearch:
        %if root.user.isAnon():
            <h2>Login to endorse</h2>
            <div class="text-center">
                <div class="mar-top-2">
                    ${widgets.login_btn('linkedin')}
                </div>
            </div>
        %else:
            <h2>Endorse a contact for this task</h2>
            <div class="linkedin-widget" data-widget="ContactSearch">
                <script type="text/template" class="contact-template">
                    <div class="row single-candidate search-result-item" data-entity-id="{{ model.id }}">
                        <div class="col col-sm-2">
                            <div class="picture medium">
                                <img src="{{ model.getPicture() }}"/>
                            </div>
                        </div>
                        <div class="col col-sm-10">
                            <a class="pull-right btn btn-primary">Endorse</a>
                            <strong>{{ model.getName() }}</strong>
                            <p class="text-small text-muted">{{ model.getPosition() }}</p>
                        </div>
                    </div>
                </script>
                <label for="">Name</label>
                <div class="search-field">
                    <input type="text" class="query" placeholder="Find a contact by name">
                </div>
                <div class="endorsement-search">
                    <div class="results show-expanded"></div>
                </div>
            </div>
        %endif
    %endif
</%def>




<%def name="applications(need, apps)">
<h1 class="section-title"><span class="brand-primary">
    ${'Accepted Application' if need.fulfilled else 'Applications'}
</span></h1>
%if apps:
    <div id="applications">
    %for application in sorted(apps, reverse = True):
        %if application.approved or not need.fulfilled:
        <div class="mar-top-2 single-application">
            <div class="row">
                <div class="col col-lg-4">
                    <div class="row">
                        <div class="col col-sm-3">
                            <div class="picture">
                                <a href="${request.root.profile_url(application.User.token)}"><img src="${application.User.picture}"/></a>
                            </div>
                        </div>
                        <div class="col col-sm-9">
                            <a href="${request.root.profile_url(application.User.token)}" class="name"><strong>${application.User.name}</strong></a>
                            <p class="text-small text-muted">${html.nn(application.User.position)}</p>
                            <p class="text-small text-strong">Applied on ${application.display_date}</p>
                            %if need.fulfilled:

                            %else:
                                %if ctxt.canEdit:
                                    <a href="${url(ctxt, application.token, 'accept')}" class="btn btn-primary">Accept</a>
                                %endif
                            %endif
                        </div>
                    </div>
                </div>
                <div class="col col-lg-8 control-group">
                    ${application.message}
                </div>
            </div>
        </div>
        %endif
    %endfor
    </div>
%else:
    <div class="empty">
        No Applications Yet
    </div>
%endif
</%def>

<%def name="otherTasks(round)">
    <div class="company-dashboard">
    %if len(round.roundTasks) > 1:
        <div class="box-shaded">
            <div class="box-shaded">
                <div class="box-title">Other tasks from <a href="${root.round_url(ctxt.company.slug, '1')}">${ctxt.company.display_name}</a></div>
                <div class="box-shaded box-hor-content">
                    %for need in round.roundTasks:
                        %if need.slug != ctxt.need.slug:
                            <div class="list-item">
                                <h3 class="other-task-card-header"><a href="${root.need_url(ctxt.company.slug, need.slug)}">${need.name}</a></h3>
                                ${widgets.valuation_sml(need)}
                            </div>
                        %endif
                    %endfor
                </div>
            </div>
        </div>
    %endif
    </div>
</%def>

<%def name="wtfBox()">
    %if ctxt.need.summary:
        <div class="wtf-box active">
            <h2 class="wtf-title">
                Before you go on
            </h2>
            <div class="wtf-content mar-top-2">
                ${ctxt.need.summary}
            </div>
        </div>
        <div class="mar-top-2"></div>
    %endif
</%def>


<%def name="post_scripts()">
    <script>
        require(["views/company/endorse"], function(View){
            new View({el: $(".endorsements"), watch: $(".linkedin-widget")})
        });
        require(["tools/ajax"], function(ajax){
            $(".form-validated").each(function(idx, elem){
                ajax.ifyForm({root: elem});
            });
        });
    </script>
</%def>