<%inherit file="../../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../../widgets.html" name="widgets"/>


<%def name="content()">
    <div class="container">

        <%widgets:pageHeader canEdit="${resource.canEdit}">
            ${need.name}
        </%widgets:pageHeader>


        <div class="row mar-top-1">
            <div class="col col-lg-3">
                ${self.needOverview(resource.need)}
            </div>
            <div class="col col-lg-6">
                ${self.needDetails(resource.canEdit, resource.company, resource.need)}
            </div>
            <div class="col col-lg-3">
                ${widgets.companyInfo(resource.company)}
                %if not resource.need.fulfilled:
                    <div class="mar-top-1">
                        <a href="${url(resource, 'apply')}#application-form" class="btn btn-primary btn-block">${'Login to Apply' if root.user.isAnon() else 'Apply'}</a>
                    </div>
                %endif
            </div>
        </div>

        <div class="row mar-top-2">
            <div class="col col-lg 12">
                <h1 class="section-title">
                    %if resource.need.fulfilled:
                        <span class="brand-primary">Accepted Application</span>
                    %else:
                        <span class="brand-primary">Applications</span>
                    %endif

                </h1>
                ${self.applications(resource.need, resource.need.Applications)}
            </div>
        </div>
    </div>
</%def>



<%def name="needOverview(need)">
    %if need.fulfilled:
        <div class="box-title success"><span class="glyphicon glyphicon-ok-sign"></span> Need Fulfilled</div>
    %else:
        <div class="box-title">Need Details</div>
    %endif

    %if need.picture:
        <div class="picture-header">
            <img src="${need.picture}"/>
        </div>
    %endif

    <div class="mar-top-1">
        ${widgets.valuation(need)}
    </div>

    %if need.fulfilled:
        <hr/>
        <h6>Accepted Application</h6>
        <div class="box-card">
            ${widgets.userPic(need.acceptedApplication.User)}
            <div class="right-box">
                %if need.acceptedApplication.User.token:
                    <a href="${root.profile_url(need.acceptedApplication.User.token)}"><strong>${ need.acceptedApplication.User.name }</strong></a>
                %else:
                    <strong>${ need.acceptedApplication.User.name }</strong>
                %endif
                <div class="description">
                    ${need.acceptedApplication.message | html.trunc(50)}
                </div>
            </div>
        </div>
    %endif


    <hr/>
    %for tag in need.tags:
        <span class="label label-info spaced text-small">${tag}</span>
    %endfor
</%def>


<%def name="recommendedExperts(company, need)">
    <div class="expert-list">
    %for expert in need.experts:
    <div class="expert-briefing">
        <div class="row">
            <div class="col col-sm-2">
                <div class="picture medium">
                    <img src="${expert.picture_url}" alt="${expert.name}"/>
                </div>
            </div>
            <div class="col col-sm-8">
                <strong>${expert.name}</strong>
                <p class="text-muted text-small">${html.nn(expert.position)}</p>
            </div>
            <div class="col col-sm-2">
                %if expert.introducers:
                    <a class="expander btn btn-default btn-large btn-block" data-toggle-target=".expert-briefing" data-toggle-class="expanded" data-toggle-text="▼">◀</a>
                %else:
                    <div class="pull-right linkedin-widget" data-widget="SendMessage" data-entity-id="${expert.linkedinId}">
                        <a class=" btn btn-primary btn-small">Send Message</a>
                    </div>
                %endif
            </div>
        </div>
        %if expert.introducers:
            <div class="row expert-details show-expanded">
                <div class="col col-lg-10 col-offset-2">
                    <h6 class="text-muted">Introducers</h6>
                    %for intro in expert.introducers:
                    <div class="row mar-top-half">
                        <div class="col col-sm-2">
                            <div class="picture mini">
                                <img src="${intro.picture}" alt="${intro.name}"/>
                            </div>
                        </div>
                        <div class="col col-sm-4">
                            <a class="overflow" href="#"><strong>${intro.name}</strong></a>
                            <p class="text-muted text-small">${intro.position}</p>
                        </div>
                        <div class="col col-lg-6">
                            <a href="#" class="btn btn-primary btn-small btn-block ">Get Introduction</a>
                        </div>
                    </div>
                    %endfor
                </div>
            </div>
        %endif
        </div>
    %endfor
    </div>
</%def>

<%def name="recommendedServices(company, need)">
    %for service in need.services:
        <div class="col col-lg-4 service-briefing">
            <div class="picture medium">
                <img src="${service.logo_url}" name="${service.name}"/>
            </div>
            <a href="${service.url or '#'}" class="overflow"><strong>${service.name}</strong></a>
            <p class="text-muted text-small">${service.description | html.trunc(50)}</p>
            <a href="${service.url or '#'}" target="_blank" class="btn btn-small btn-block btn-primary">See Details</a>
        </div>
    %endfor
</%def>


<%def name="needDetails(canEdit, company, need)">
    ${html.nn(need.customText)}

    <div class="mar-top-2">
        <div class="box-title">Endorsed Experts</div>
        ${self.endorsedExperts(company, need)}
    </div>

    %if canEdit and not need.fulfilled:
        %if need.experts:
            <div class="experts mar-top-2">
                <div class="box-title">Suggested Experts</div>
                ${self.recommendedExperts(company, need)}
            </div>
        %endif

        %if need.services:
            <div class="service-list row  mar-top-2">
                <div class="col col-lg-12">
                    <div class="box-title">
                        Recommended Cloud Services
                    </div>
                </div>
                ${self.recommendedServices(company, need)}
            </div>
        %endif
    %endif
</%def>


<%def name="endorsedExperts(company, need, withSearch = True)">
    <div class="endorsements" data-entity-id="${need.token}" data-entity="Need">
        <script type="text/template" class="endorsement-template">
            <div class="row single-candidate search-result-item" data-entity-id="{{ model.id }}">
                <div class="col col-sm-2">
                    <div class="picture medium">
                        <img src="{{ model.getPicture() }}"/>
                    </div>
                </div>
                <div class="col col-sm-10">
                    <strong>{{ model.getName() }}</strong>
                    <p class="text-small">{{ model.getPosition() }}</p>
                </div>
            </div>
        </script>
        <div class="results">
            %for model in need.Endorsements:
                <div class="row single-candidate search-result-item" data-entity-id="${ model.id }">
                    <div class="col col-sm-2">
                        <div class="picture medium">
                            <img src="${ model.getPicture() }"/>
                        </div>
                    </div>
                    <div class="col col-sm-10">
                        <strong>${ model.getName() }</strong>
                        <p class="text-small">${ model.getPosition() }</p>
                    </div>
                </div>
            %endfor
        </div>
    </div>
    %if not need.fulfilled and withSearch:
        %if root.user.isAnon():
            <div class="box-title">Login to endorse</div>
            <div class="text-center">
                <div class="mar-top-1">
                    ${widgets.login_btn('linkedin')}
                </div>
            </div>
        %else:
            <div class="box-title">Endorse your contacts for this need</div>
            <div class="linkedin-widget" data-widget="ContactSearch">
                <script type="text/template" class="contact-template">
                    <div class="row single-candidate search-result-item" data-entity-id="{{ model.id }}">
                        <div class="col col-sm-2">
                            <div class="picture medium">
                                <img src="{{ model.getPicture() }}"/>
                            </div>
                        </div>
                        <div class="col col-sm-10">
                            <a class="pull-right btn btn-small btn-primary">Endorse</a>
                            <strong>{{ model.getName() }}</strong>
                            <p class="text-small">{{ model.getPosition() }}</p>
                        </div>
                    </div>
                </script>
                <div class="search-field">
                    <input type="text" class="query" placeholder="Find a contact by name">
                </div>
                <div class="endorsement-search">
                    <div class="results show-expanded"></div>
                </div>
            </div>
        %endif
    %endif
</%def>




<%def name="applications(need, apps)">
%if apps:
    <div id="applications">
    %for application in sorted(apps, reverse = True):
        %if application.approved or not need.fulfilled:
        <div class="mar-top-1 single-application">
            <div class="row">
                <div class="col col-lg-4">
                    <div class="row">
                        <div class="col col-sm-3">
                            <div class="picture">
                                <a href="${request.root.profile_url(application.User.token)}"><img src="${application.User.picture}"/></a>
                            </div>
                        </div>
                        <div class="col col-sm-9">
                            <a href="${request.root.profile_url(application.User.token)}" class="name"><strong>${application.User.name}</strong></a>
                            <p class="text-small">${html.nn(application.User.position)}</p>
                            <p class="text-small">${application.display_date}</p>
                            %if need.fulfilled:

                            %else:
                                %if resource.canEdit:
                                    <a href="${url(resource, application.token, 'accept')}" class="btn btn-primary">Accept</a>
                                %endif
                            %endif
                        </div>
                    </div>
                </div>
                <div class="col col-lg-8 control-group">
                    ${application.message}
                </div>
            </div>
        </div>
        %endif
    %endfor
    </div>
%else:
    <div class="empty">
        No Applications Yet
    </div>
%endif
</%def>

<%def name="post_scripts()">
    <script>
        require(["views/company/endorse"], function(View){
            new View({el: $(".endorsements"), watch: $(".linkedin-widget")})
        })
    </script>
</%def>