<%namespace file="../../widgets.html" name="widgets"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="applicationCard(application)">
    ${widgets.member_pic(application.User, classes='mini')}
    <div class="right-box">
        <a href="${root.profile_url(application.User.token)}"><strong>${ application.User.name }</strong></a>
        <div class="text-small text-muted">
            ${ application.User.headline }
        </div>
        <small class="text-strong">Applied on ${application.display_date}.</small>
    </div>
</%def>


<%def name="invite_team_form(form, values, errors)">
    %if form:
        <div class="expander ${'expanded' if request.params.get('invite') else ''}">
            <a class="btn btn-primary show-contracted btn-block mar-top-half" data-toggle-target=".expander" data-toggle-class="expanded">Invite Team Members</a>
            <form class="box-content box-buster box-dark show-expanded ${form.grid.form_classes}" id="${form.id}" method="POST">
                ${baseform.prelims(form)}
                ${form.fieldMap['name'].render(form.id, request, values.get(form.id), errors.get(form.id), view, grid = form.grid)|n}
                ${form.fieldMap['email'].render(form.id, request, values.get(form.id), errors.get(form.id), view, grid = form.grid)|n}
                ${form.fieldMap['role'].render(form.id, request, values.get(form.id), errors.get(form.id), view, grid = form.grid)|n}
                <button type="submit" class="btn btn-primary">Invite member</button>
                <a class="btn btn-default" data-toggle-target=".expander" data-toggle-class="expanded">Cancel</a>
            </form>
        </div>
    %endif
</%def>