<%inherit file="layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="slogan()">
    ${self.crumbs(1)}
    <h1 class="mar-top-2">Your Project Template</h1>
    <h2>Pick one that describes your company.</h2>
</%def>

<%def name="bodyContent()">
<div class="row">
    %for t in templates:
        <div class="col col-lg-6">
            <div class="single-template">
                <a href="${url("website_template_details", template=t.key)}" class="single-template-button ${t.getStyleKey()} no-btn">
                    <img src="${STATIC_URL}img/templates/${t.getStyleKey()}.png"/>
                    <span class="name">${t.name}</span>
                </a>
                <p class="description">
                    <strong>${t.name}</strong> is lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
            </div>
        </div>
    %endfor
</div>
</%def>