<%inherit file="layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="slogan()">${self.crumbs(1)}</%def>
<%def name="sectionTitle()">Choose a Template</%def>


<%def name="bodyContent()">
<div class="row">
    %for t in templates:
        <div class="col col-lg-6 text-center">
            <div class="single-template">
                <a href="${root.template_url(t.key)}" class="single-template-button ${t.getStyleKey()} no-btn">
                    <img src="${STATIC_URL}img/templates/${t.getStyleKey()}.png"/>
                    <span class="name">${t.name}</span>
                </a>
                <p class="description">
                    <strong>${t.name}</strong> is lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
            </div>
        </div>
    %endfor
</div>
</%def>

<%def name="wtfBox()">
    <div class="wtf-box active">
        <h2 class="wtf-title">
            Whats happening here?
        </h2>
        <div class="wtf-content mar-top-1">
            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna. Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ...
        </div>
    </div>
</%def>
