<%inherit file="layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="slogan()">${self.crumbs(2)}</%def>
<%def name="sectionTitle()">${template.name}</%def>

<%def name="bodyContent()">
        <div class="row">
            <div class="col col-lg-4 template-details">
                <div class="box-title">
                    Template Details
                </div>
                <div class="cut-corner">
                    <img src="${STATIC_URL}img/templates/${template.getStyleKey()}.png"/>
                </div>
                <div class="number-widget mar-top-1">
                    <div class="thirds">
                        <div class="heading">Needs</div>
                        <div class="value light">${len(template.Need)}</div>
                    </div><div class="thirds">
                        <div class="heading">Time Limit</div>
                        <div class="value light">90 <strong class="text-small">Days</strong></div>
                    </div>
                    <hr class="mar-top-half"/>
                </div>
            </div>
            <div class="col col-lg-8">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

                <div class="mar-top-4 text-right">
                    <a href="${url(ctxt, 'startcompany')}" class="btn btn-primary btn-large pull-left">Use this Template</a>
                    <a href="${root.template_select_url}" class="btn btn-default btn-large">Back to Template List</a>
                </div>
            </div>
        </div>
    <div class="row mar-top-4">
        <div class="col col-lg-12">
            <div class="box-title">Needs</div>
        </div>
    </div>
    <div class="row">
        %for col in template.groupedNeeds(3):
            <div class="col col-lg-4">
                <div class="js-need-card-list">
                %for need in col:
                    ${self.buildNeed(need)}
                %endfor
                </div>
            </div>
        %endfor
    </div>
</%def>

<%def name="buildNeed(need)">
    <div class="need-card">
    <div class="need-card-inner">
        <div class="cut-corner box-header-muted box-card">
            <h3 class="title">${need.name}</h2>
            <div class="description">
                ${need.summary | html.trunc(200)}
            </div>
        </div>
        <div class="box-content">
            %for tag in need.tags:
                <span class="label label-info spaced text-small">${tag}</span>
            %endfor
        </div>
    </div>
    </div>
</%def>


<%def name="wtfBox()">
    <div class="wtf-box active">
        <h2 class="wtf-title">
            OK, So what’s next?
        </h2>
        <div class="wtf-content mar-top-1">
            <p>UFO Start structures your company's growth in 'rounds'. Each round lasts 30 days and has a series or 'needs' or tasks that should be fulfilled in the round.</p>
            <p>A need can be anything from getting a company logo to the production of a complete app. </p>
            <p>We suggest some needs below based on your template but these can be added or removed later.</p>
        </div>
    </div>
</%def>
