<%inherit file="layout.html"/>
<%namespace file="widgets.html" name="widgets"/>


<%def name="content()">
    <div class="home-band">
        <div class="container homepage">
            <div class="row mar-top-3">
                <div class="col-lg-12">
                    <h1 class="site-slogan">
                        ${Content("HomePage.SiteSlogan")|n}
                    </h1>
                    <div class="mar-top-3 text-center">
                        %if request.context.user.isAnon():
                            <a class="btn btn-primary btn-xlg" href="${root.signup_url()}">
                                ${Content("HomePage.Button.Signup")|n}
                            </a>
                        %else:
                            <a class="btn btn-primary btn-xlg" href="${root.template_select_url}">
                                ${Content("HomePage.Button.CreateProject")|n}
                            </a>
                        %endif
                    </div>
                    <div class="mar-top-5 text-center">
                        <img class="press-partners" src="${STATIC_URL}img/press.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-title">
                    <span>How does UFOStart work?</span>
                </h1>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col-lg-4">
                <div class="text-center">
                    <div class="concept-icons money"></div>
                </div>
                <h2 class="home-page-section">Exchange equity for expertise</h2>
                <p class="mar-top-2">Genim voluptiusam doloren ihicae ne ipsandam velign imodit quam quat. Bus non porum andam, verum re coneste dictiam eum vollaborest ommodi to blatur.</p>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <div class="concept-icons share"></div>
                </div>
                <h2 class="home-page-section">connect with people</h2>
                <p class="mar-top-2">Genim voluptiusam doloren ihicae ne ipsandam velign imodit quam quat. Bus non porum andam, verum re coneste dictiam eum vollaborest ommodi to blatur.</p>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <div class="concept-icons team"></div>
                </div>
                <h2 class="home-page-section">Create a company or<br/>contribute to existing companies</h2>
                <p class="mar-top-2">Genim voluptiusam doloren ihicae ne ipsandam velign imodit quam quat. Bus non porum andam, verum re coneste dictiam eum vollaborest ommodi to blatur.</p>
            </div>
        </div>

        <div class="row mar-top-2">
            <div class="col-lg-12">
                <h1 class="section-title">
                    <span>Testimonials</span>
                </h1>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col-lg-12">
                <div id="carousel-landing-page" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-landing-page" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-landing-page" data-slide-to="1"></li>
                        <li data-target="#carousel-landing-page" data-slide-to="2"></li>
                        <li data-target="#carousel-landing-page" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active text-center">
                            <h3><span class="brand-primary">“</span>Dolupta seritiate optaqui aceperibust id maxim re pra exrum,<br/> etur picaeptatem quatus, unto di di tor apie mistes<span class="brand-primary">”</span></h3>
                            <h5 class="brand-primary upper">Carles Miete, Kickstarter</h5>
                        </div>

                        <div class="item text-center">
                            <h3><span class="brand-primary">“</span>Dolupta seritiate optaqui aceperibust id maxim re pra exrum,<br/> etur picaeptatem quatus, unto di di tor apie mistes<span class="brand-primary">”</span></h3>
                            <h5 class="brand-primary upper">Carles Miete, Kickstarter</h5>
                        </div>

                        <div class="item text-center">
                            <h3><span class="brand-primary">“</span>Dolupta seritiate optaqui aceperibust id maxim re pra exrum,<br/> etur picaeptatem quatus, unto di di tor apie mistes<span class="brand-primary">”</span></h3>
                            <h5 class="brand-primary upper">Carles Miete, Kickstarter</h5>
                        </div>

                        <div class="item text-center">
                            <h3><span class="brand-primary">“</span>Dolupta seritiate optaqui aceperibust id maxim re pra exrum,<br/> etur picaeptatem quatus, unto di di tor apie mistes<span class="brand-primary">”</span></h3>
                            <h5 class="brand-primary upper">Carles Miete, Kickstarter</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mar-top-2">
            <div class="col-lg-12">
                <h1 class="section-title">
                    <span>Easy to Use</span>
                </h1>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col-lg-7">
                <img src="${STATIC_URL}img/landing/slide1.png"/>
            </div>
            <div class="col-lg-5 mar-top-1">
                <h2>Got big ideas and no clue where to start?</h2>
                <h6>Select a template we prepared for you and start the round.</h6>

                <h2>Create a company and add a Project</h2>
                <h6>Gather your team members and invite a mentor.</h6>

                <h2>Connect with people</h2>
                <h6>UFOstart is well connected to all major social networks. Find an expert for your needs.</h6>

                <div class="text-center mar-top-2">
                    <a class="btn btn-primary btn-xlg" href="${root.signup_url()}">
                        ${Content("HomePage.Button.Signup")|n}
                    </a>
                </div>

            </div>
        </div>
    </div>
</%def>


<%def name="post_scripts()">
<script>
    var carousel = $('.carousel').carousel({interval: 8000, pause:"hover"});
</script>
</%def>
