<%inherit file="layout.html"/>
<%namespace file="widgets.html" name="widgets"/>


<%def name="content()">
    <div class="home-band">
        <div class="container homepage">
            <div class="row mar-top-3">
                <div class="col-lg-12">
                    <h1 class="site-slogan">
                        The first market place<br/>
                        giving equity for expertise
                    </h1>
                    <div class="mar-top-1">
                        <a class="btn btn-primary btn-lg btn-block" href="${root.signup_url}">
                            Sign Up
                        </a>
                    </div>

                    <div class="mar-top-3">
                        <img class="press-partners" src="${STATIC_URL}img/press.png"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</%def>


<%def name="post_scripts()">
<script>
    var carousel = $('.carousel').carousel({interval: 8000, pause:"hover"});
</script>
</%def>
