<%inherit file="layout.html"/>
<%namespace file="widgets.html" name="widgets"/>


<%def name="content()">
    <div class="home-band">
        <div class="container homepage">
            <div class="row mar-top-3">
                <div class="col-lg-12">
                    <h1 class="site-slogan">
                        ${_("HomePage.SiteSlogan")|n}
                    </h1>
                    <div class="mar-top-3 text-center">
                        %if request.context.user.isAnon():
                            <a class="btn btn-primary btn-xlg" href="${root.signup_url()}">
                                ${_("HomePage.Button.Signup")|n}
                            </a>
                        %else:
                            <a class="btn btn-primary btn-xlg" href="${root.template_select_url}">
                                ${_("HomePage.Button.CreateProject")|n}
                            </a>
                        %endif
                    </div>
                    <div class="mar-top-5 text-center">
                        <img class="press-partners" src="${STATIC_URL}img/press.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-title">
                    <span>${_("HomePage.Heading:How does UFOstart work?")|n}</span>
                </h1>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col-lg-4">
                <div class="text-center">
                    <div class="concept-icons money"></div>
                </div>
                <h2 class="home-page-section">${_("HomePage.Equity.Title")|n}</h2>
                <p class="mar-top-2">${_("HomePage.Equity.Text:Reduce the amount of cash you need by up to 80%. Reward loyal, passionate talent and partners with partial ownership in your idea.")|n}</p>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <div class="concept-icons share"></div>
                </div>
                <h2 class="home-page-section">${_("HomePage.Share.Title")|n}</h2>
                <p class="mar-top-2">${_("HomePage.Share.Text:Tap into the power of your network, and our crowd of resources, to make the connections you need to move forward.")|n}</p>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <div class="concept-icons team"></div>
                </div>
                <h2 class="home-page-section">${_("HomePage.Founder.Title")|n}</h2>
                <p class="mar-top-2">${_("HomePage.Founder.Text:The easiest way to successfully launch next big idea, and also lend your expertise to other projects from around the world.")|n}</p>
            </div>
        </div>

        <div class="row mar-top-2">
            <div class="col-lg-12">
                <h1 class="section-title">
                    <span>Testimonials</span>
                </h1>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col-lg-12">
                <div id="carousel-landing-page" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-landing-page" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-landing-page" data-slide-to="1"></li>
                        <li data-target="#carousel-landing-page" data-slide-to="2"></li>
                        <li data-target="#carousel-landing-page" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active text-center">
                            <h3><span class="brand-primary">“</span>UFOstart helped me to look at my product from a different point of view. No more chasing after competitive venture capital. Here I have all the resources to go the lean start up way.<span class="brand-primary">”</span></h3>
                            <h5 class="brand-primary upper">Xavier Bertschy, Skeeble</h5>
                        </div>

                        <div class="item text-center">
                            <h3><span class="brand-primary">“</span>Our first round on UFOstart was a success! We found our advisers and first investors. Now we are planing to launch a new round for further fundings.<span class="brand-primary">”</span></h3>
                            <h5 class="brand-primary upper">Anji Ismail, DOZ</h5>
                        </div>

                        <div class="item text-center">
                            <h3><span class="brand-primary">“</span>I highly recommend UFOstart. We recently closed a 100K round, using this platform and are now getting ready for the next round.<span class="brand-primary">”</span></h3>
                            <h5 class="brand-primary upper">Chris McCoy, YourSports</h5>
                        </div>

                        <div class="item text-center">
                            <h3><span class="brand-primary">“</span>We use UFOstart to establish our own network of stake holders to find new people helping us out in HR, Sales and Investment. Next step is to build our US campaign for San Francisco.<span class="brand-primary">”</span></h3>
                            <h5 class="brand-primary upper">Stefan Jorgensen, ItemBase</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mar-top-2">
            <div class="col-lg-12">
                <h1 class="section-title">
                    <span>Easy to Use</span>
                </h1>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col-lg-7">
                <img src="${STATIC_URL}img/landing/slide1.png"/>
            </div>
            <div class="col-lg-5 mar-top-1">
                <h2>Got big ideas and no clue where to start?</h2>
                <h6>Select a template we prepared for you and start the round.</h6>

                <h2>Create a company and add a Project</h2>
                <h6>Gather your team members and invite a mentor.</h6>

                <h2>Connect with people</h2>
                <h6>UFOstart is well connected to all major social networks. Find an expert for your needs.</h6>
                
                <div class="text-center mar-top-2">
                    %if request.context.user.isAnon():
                        <a class="btn btn-primary btn-xlg" href="${root.signup_url()}">
                            ${_("HomePage.Button.Signup")|n}
                        </a>
                    %else:
                        <a class="btn btn-primary btn-xlg" href="${root.template_select_url}">
                            ${_("HomePage.Button.CreateProject")|n}
                        </a>
                    %endif
                </div>
            </div>
        </div>
    </div>
</%def>


<%def name="post_scripts()">
<script>
    var carousel = $('.carousel').carousel({interval: 8000, pause:"hover"});
</script>
</%def>
