<%inherit file="base.html"/>

<%block name="layoutscripts"></%block>
<%def name="footer_classes()">mar-top-2</%def>

<div id="global-frame" class="${self.page_class()}">
    <%block name="header">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <a class="navbar-brand" href="${request.root.home_url}"><img src="${STATIC_URL}img/logo.png?${VERSION_TOKEN}" alt="${g.project_name}"/></a>
                    </div>
                    <div class="col-sm-8">
                      ${self.menu(root.user)}
                    </div>
                </div>
           </div>
       </div>
    </%block>

    ${self.header_messages(request.session.pop_flash("generic_messages"))}
    ${self.bcrumbs()}

    <%block name="contentwrapper">
        <div class="page-wrapper">
            ${self.content()}
        </div>
    </%block>
    <%block name="footer">
      <footer class="footer ${self.footer_classes()}">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <div class="footer-text">&copy; 2013 UFOstart</div>
          </div>
          <div class="col-sm-2">
            <ul class="list-unstyled">
              <li><a class="footer-text" href="http://ufostart.com/about/us">Company</a></li>
              <li><a class="footer-text" href="http://ufostart.blogspot.de">Blog</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="list-unstyled">
              <li><a class="footer-text" href="http://ufostart.com/terms">Terms of Service</a></li>
              <li><a class="footer-text" href="http://ufostart.com/terms">Privacy Policy</a></li>
              <li><a class="footer-text" href="mailto:contact@ufostart.com">Contact us</a></li>
            </ul>
          </div>
          <div class="col-sm-5">
            <a class="footer-link social-logo gplus"    href="https://plus.google.com/115184185394964969331">UFOstart on Google Plus</a>
            <a class="footer-link social-logo linkedin" href="http://www.linkedin.com/company/ufostart-ag">UFOstart on Linkedin</a>
            <a class="footer-link social-logo facebook" href="https://www.facebook.com/UFOstart">UFOstart on Facebook</a>
            <a class="footer-link social-logo twitter"  href="https://twitter.com/UFOstart">UFOstart on Twitter</a>
            </div>
        </div>
      </div>
      </footer>
    </%block>
</div>


<%def name="menu(user)">
  <ul class="nav navbar-nav navbar-right page-header-bar-menu ${'anon' if user.isAnon() else 'logged-in'}">
      %if user.isAnon():

        <li><a href="${request.root.signup_url(query=[('furl', request.furl)])}">Log in</a></li>

      %else:

        <li><a href="${root.profile_url(root.user.slug)}">${user.name}</a></li>
        <li class="navbar-divider"></li>
        %if len(user.Companies) > 1:
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Companies
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                %for company in user.Companies:
                  <li>
                    <a href="${root.round_url(company.slug, '1')}">${company.name}</a>
                  </li>
                %endfor
            </ul>
          </li>
          <li class="navbar-divider"></li>
        %elif len(user.Companies) == 1:
          <li><a href="${root.round_url(user.getDefaultCompanySlug(), '1')}">${user.getDefaultCompanyName()}</a></li>
          <li class="navbar-divider"></li>
        %endif
        <li><a href="${request.root.logout_url()}">Log out</a></li>
      %endif
  </ul>
</%def>


<%def name="bc(res, link = False)">
    %if hasattr(res, 'displayType'):
        ${self.bc(res.__parent__, True)}
        %if link:
            <a class="crumb" href="${url(res)}"><span class="title">${res.displayType}</span><br/>${res.displayName}</a>
        %else:
            <span class="crumb"><span class="title">${res.displayType}</span><br/>${res.displayName}</span>
        %endif
    %endif
</%def>


<%def name="bcrumbs()">
    <div class="container breadcrumbs">
        <div class="row">
            <div class="col-lg-12 crumbs-inner">
                ${self.bc(ctxt)}
            </div>
        </div>
    </div>
</%def>