.round-need-setup-page {
  padding-bottom: 70px;
}

.single-template {
  margin-bottom:30px;
   >.description {
    max-width: 277px;
    text-align: left;
    margin-top: 15px;
   }
}

.single-template-button {
  margin-top:30px;
  display: inline-block;
  position: relative;
  padding: 0;
  transition: opacity .05s linear;
  border-radius: 4px;
  &:hover {
    &:before {
      content: ".";color:transparent;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,.1);
    }
  }
  &:active {
    &:before {
      content: ".";color:transparent;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.15);
    }
  }

  >.name {
    display: block;
    line-height: 1em;
    bottom: 15px;
    position: absolute;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 16px;
  }
}

.single-need {
  + .single-need {
    border-top:1px solid @corp-color;
  }
}
.need-details {
   >.need-detail {
    display: inline-block;
    cursor: pointer;
    +.need-detail {margin-left: 20px;}
   }
  }

.single-need-inner {
  padding: 8px 15px 15px;
  position: relative;
  .need-title {font-weight: 700;}
}

.add-remove-btn {
    position: absolute;
    cursor:pointer;
    width: 25px;
    height:25px;
    top:0;
    right:0;
    text-align: center;
    > span {
      .user-select(none);
      position: relative;
      display: inline-block;
      top:4px;
      width:17px;
      height:17px;
      font-size:20px;
      line-height:17px;
      text-align: center;
      border-radius: 100%;
      transition: all .2s ease-in-out;
    }
    &:hover {text-decoration: none;}
    &:hover > span {
      -webkit-transform: scale(2);
         -moz-transform: scale(2);
          -ms-transform: scale(2);
           -o-transform: scale(2);
              transform: scale(2);
    }
  &.remove > span {
    background-color: black;
    color:white;
  }
  &.add > span {
    background-color: @brand-primary;
    color:white;
  }
}




.needs-list.library > .single-need >.single-need-inner {
  background-color: #808080;
  > .need-title {font-weight: 500;}
}
.needs-list.in-use {
  > .single-need {

    transition: box-shadow .5s ease-in-out;
    &.added{
      box-shadow: 0 0 15px @corp-color;
      .single-need-inner {.opacity(.8);}
    }
    > .single-need-inner {transition: opacity .5s ease-in-out;min-height: 80px;}
    .information-btn {
      float: right;
      margin-top: 20px;
    }
  }
}
.needs-list.library{
  .need-description{display:none}
  .need-details {display: none;}
}

.btn-start-round {
  margin-top:70px;
  .clearfix;
   + .text-center {padding-top:15px;font-weight: 700;}
}


.round-need-setup{
  .expert-title {font-weight:700;margin-top:4px;}
  .expert-title, .expert-name, .service-url {
    font-size: @font-size-small;
  }
  .use-service-btn {margin-top:52px;margin-left: -10px;}
  .need-expert-btn {
    height: 77px;
    margin-left: -10px;
    background-position: center bottom;
    &:hover {color:transparent;text-decoration: none;}
  }
  &:first-child {
    margin-top: 5px;
  }
  + .round-need-setup {border-top: 1px solid @corp-color-semi;padding-top:10px;}
}


