.company-import{
  padding: 10px 0 15px;
  .clearfix;
  .company-logo {
    margin-bottom:15px;
  }
  > .name {
      color: @text-muted;
      font-weight: @font-weight-bold;
  }
  + .company-import {
    broder-top:1px solid white;
  }
}

.company-customer-dashboard {
  position: relative;
  padding-bottom: 15px;
}

.product-image {
  min-height:400px;
  background-color: @body-bg;
  position: relative;
  > .empty {
    font-weight: 300;
    text-align: center;
    padding: 200px 0;
  }
}

.company-tags {
  > .label {margin-right: 10px;}
}