.single-team-member {
  padding-top: 5px;
  padding-bottom: 5px;
  + .single-team-member{border-top:1px solid #b2b2b2;}
}

.face-pile-mini {
  > .picture {
    float:left;margin: 5px 5px 0 0;
  }
}
.picture-pile {
  .clearfix;
  > .picture {
    float:left;
    width:25%;
    margin: 0 5px 5px 0;
    &.mini {max-width:34px;}
    &.small {max-width:50px;}
    &.medium {max-width:75px;}
    position: relative;
  }
}

.box-header {
  position: relative;
  .background-image("../img/arrowdbg.png");
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.pitch {
  font-size: @font-size-small;
}

// UPDATES

.box-card.single-update {
  margin-top: 20px;
  padding: 12px;
}
.slideshare.progress-step {
  padding: 20px 0 0 0;
  > .box-card { padding: 0 12px 12px;}
}


.PENDING > .need-card-inner > .description {color:@text-muted;}


// APPLICATIONS

.single-application + .single-application {
  border-top:1px solid @text-muted;
  padding-top:@line-height-computed;
}

.tachymeter {
  position: relative;
  margin: 25px;
  > h1 {
    position: absolute;
    top: 50%;
    left: 0;
    line-height: 50px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 50px;
    margin-top: -30px;
    width: 100%;
    > small {
      font-size:18px;
      color:white;
    }
  }
}

.progress-container {
  position: relative;
  > .progress {
    position: absolute;
    bottom:0;
    height:20px;
    width:100%;
    margin:0;
  }
  .offset {
    color:white;position: relative;z-index:2;font-size:50px;
    > small {
      font-size:18px;
      color:white;
    }
  }
}


.workflow-link {
  display: block;
  padding: 58px 15px 10px 62px;
  font-weight: @font-weight-bold;
  font-size:@font-size-small;
  position: relative;
  .box-shadow(0 4px 6px rgba(0,0,0,.4) inset);
  > .position {
    display: block;
    position: absolute;
    bottom: 12px;
    left:0;
    width:50px;
    line-height:50px;
    font-size: 60px;
    text-align: right;
    font-weight: 300;
  }
  &.active {
    background-color: @wtf-color;
    color:white;
    font-size:40px;
    line-height:40px;
    font-weight: 300;
    padding-top:30px;
    > .position{
      border-color: white;
      color:white;
    }
  }
}
.progress-step {
  padding: 12px;
  position: relative;
  .dark {color:black;}
  > h2 {color:white;margin:0;}
  > .offset {margin-top:50px;display: top;}
  +.progress-step {
    .box-shadow(0 4px 6px rgba(0,0,0,.4) inset);
  }
}


.highlight-target {
  .transition(box-shadow .1s ease-in-out);
  &.highlighted {
    .box-shadow(0 0 15px navy);
  }
}
.highlight-anchor {
  float:left;margin-top:-100px;
}

