.round-need-setup-page {
  padding-bottom: 70px;
}
.template-list {
  text-align: center;
}

.single-template {
  margin-bottom:30px;
  text-align: center;
   >.description {
    max-width: 277px;
    text-align: left;
    margin: 0px auto;
    margin-top: 15px;
   }
}

.single-template-button {
  margin-top:30px;
  display: inline-block;
  position: relative;
  >.name {
    display: block;
    line-height: 1em;
    bottom: 15px;
    position: absolute;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 16px;
  }
}

.single-need {
  border-radius: @border-radius-large;
}
.single-need + .single-need {
  margin-top:15px;
}
.single-need-inner {
  color: @btn-default-color;
  background-color: @btn-default-bg;
  border-radius: @border-radius-large;
  .box-shadow(1px 3px 4px rgba(0,0,0,.4));
  padding: 10px 20px;
  position: relative;
  > .need-title {font-weight: 700;}
  > .need-details {
   >.need-detail {
    display: inline-block;
    +.need-detail {margin-left: 20px;}
   }
  }

  > .remove {
    position: absolute;
    display: block;
    top:5px;
    right:5px;
    width:17px;
    height:17px;
    background-color: black;
    color:white;
    font-size:20px;
    line-height:17px;
    text-align: center;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    &:hover {
      -webkit-transform: scale(1.7);
         -moz-transform: scale(1.7);
          -ms-transform: scale(1.7);
           -o-transform: scale(1.7);
              transform: scale(1.7);
      text-decoration: none;
    }
  }

  >.add {
    position: absolute;
    display: block;
    top:5px;
    right:5px;
    width:17px;
    height:17px;
    background-color: @brand-primary;
    color:white;
    font-size:20px;
    line-height:17px;
    text-align: center;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    &:hover {
      -webkit-transform: scale(1.7);
         -moz-transform: scale(1.7);
          -ms-transform: scale(1.7);
           -o-transform: scale(1.7);
              transform: scale(1.7);
      text-decoration: none;
    }
  }
}


.needs-list.in-use{
  .single-need { > .single-need-inner {transition: opacity .5s ease-in-out;}
    transition: box-shadow .5s ease-in-out;
    &.added{
      box-shadow: 0 0 15px @corp-color;
      .single-need-inner {.opacity(.8);}
    }
  }
}
.needs-list.library{
  .need-details {display: none;}
}


.btn-start-round {
  margin-top:70px;
  .clearfix;
   + .text-center {padding-top:15px;font-weight: 700;}
}