#project-round-need-dashboard {
  padding: 0 10px;
}
.experts + .experts {
  margin-top: 2* @line-height-computed;
}
.primary-number {
  font-size: 28px;
  color:@corp-color;
  font-weight: @font-weight-bold;
  line-height: 1em;
  margin-bottom: ceil(@line-height-computed / 2);
  >.legend {
    font-size: @font-size-base;
  }
}
.face-pile-mini {
  > .picture {
    float:left;margin: 5px 5px 0 0;
  }
}
.picture-pile {
  .clearfix;
  > .picture {
    float:left;
    width:25%;.box-sizing(border-box);padding: 5px 5px 5px 0;
    &.mini {max-width:34px;}
    &.small {max-width:50px;}
    &.medium {max-width:75px;}
    position: relative;
  }
}

.need-card-list.col {padding-left:10px;padding-right: 10px;}

.need-card {
  margin-top: 25px;
  border:1px solid #b2b2b2;

   .customize {
    display: block;
    text-align: left;
    font-weight: @font-weight-bold;
    padding: 7px;
    line-height:1em;
    font-size: @font-size-small;

    &.danger {
      background-color: @label-danger-bg;
      color: white;
    }
    &.success {
      background-color: fadeout(@label-success-bg, 70%);
      color: darken(@label-success-bg, 10%);
    }
    &:hover {text-decoration: none;}
    > .glyphicon {
      position: relative;
      top: -3px;
      font-size: 14px;
      line-height: 10px;
      height: 9px;
      display: inline-block
    }
  }
  .remove {
    display: block;
    cursor:pointer;
    background: @text-muted;
    color: white;
    text-shadow: none;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    text-indent: -1px;
  }
}

.need-card-inner {
  position: relative;
  > .need-body{
      overflow:hidden;
      padding: 12px;
      &.mini {height:80px;}
      &.medium {height:230px;}
  }
  > .label-list{margin: 12px;border-top: 1px solid #b2b2b2;padding-top: 12px;height:58px;overflow: hidden;}

  &.add-card {
    margin-top: 25px;
    text-align: center;
    padding: 50px 15px 30px;
    display: block;
    .btn-pseudo-states(@btn-default-color, @btn-default-bg, @btn-default-border);
  }
}



.box-header {
    .clearfix;
    padding: 12px 12px 24px;
    position: relative;
    .background-image("../img/arrowdbg.png");
    background-position: 0 100%;
    background-repeat: no-repeat;
    > .picture {
      float: left;
      width: 20%;
      max-width: 75px;
      margin-right: 12px;
    }
    > h5 {margin:0;}
    > .description {
      font-size: @font-size-small;
      min-height:34px;
    }
}
.box-header-muted {
  background-color: @light-muted;
}
.box-header-wtf{
  .box-shadow(0 0 25px @wtf-color inset);
}
.box-header-square{
  height:0;
  padding: 0 0 70%;
}


.picture-header{
  position: relative;
  overflow:hidden;
  height: 0;
  padding-bottom: 70%;
  > img {width:100%;}
  &:after {
    content:".";
    text-indent: -999em;
    position: absolute;
    z-index:2;
    bottom:0;
    left:0;
    width:100%;
    height:12px;
    .background-image("../img/arrowdbg.png");
    background-position: 0 100%;
    background-repeat: no-repeat;
  }
}

.PENDING > .need-card-inner > .description {color:@text-muted;}

.valuation {
  .clearfix;
  .number {
   > h2 {margin-top:0;font-weight:normal;}
  }
  > .secondary > .number{
    float:left;
    margin-right:10px;
    min-width:90px;
  }
}
.valuation.small {
  border-top:1px solid #b2b2b2;
  margin: 0 12px;
  padding:5px 0 12px;
  >.thirds {
    display: inline-block;
    width:33%;
  }
}


.single-application + .single-application > .col >.application {
  border-top:1px solid @text-muted;
  padding-top:@line-height-computed;
}


.workflow-wtf {
  .list-unstyled;

}

.workflow-link {
  display: block;
  padding: 58px 15px 10px 62px;
  font-weight: @font-weight-bold;
  font-size:@font-size-small;
  position: relative;
  .box-shadow(0 4px 6px rgba(0,0,0,.4) inset);
  &:hover {text-decoration: none;}
  > .position {
    display: block;
    position: absolute;
    bottom: 12px;
    left:0;
    width:50px;
    line-height:50px;
    font-size: 60px;
    text-align: right;
    font-weight: 300;
  }
  &.active {
    background-color: @wtf-color;
    color:white;
    font-size:40px;
    line-height:40px;
    font-weight: 300;
    padding-top:30px;
    > .position{
      border-color: white;
      color:white;
    }
  }
}
.highlight-target {
  .transition(box-shadow .1s ease-in-out);
  &.highlighted {
    .box-shadow(0 0 15px navy);
  }
}
.highlight-anchor {
  float:left;margin-top:-100px;
}


/* NEED EDIT */
.picture.need {
  float:left;
  margin-right:10px;
}

.endorsements > .box-content {
  max-height:420px;
  overflow-y:scroll;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
}

.endorsement-search {
  min-height: 420px;
  margin-top:10px;
  .show-loading {
    padding: 20px;
    text-align: center;
  }
  > .search-result-item {
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
    + .search-result-item {
      border-top:1px solid @text-muted;
    }
    &.active {
      background: @body-bg-muted;
    }
  }
}