.control-group {margin-bottom:@line-height-base * @font-size-base;}
.box-title {font-weight:600;}
.form-horizontal .row + .row.form-actions {margin-top:30px;}
.forgot-password-link {margin-bottom:0;}


textarea.x-high {height: 8 * @line-height-computed;}