.page-header-bar.anon {
  color:@text-color;
  .page-header-bar-menu > li > a {color: @text-color;}
}
.page-header-bar.logged-in {
  background-color: black;
  border-bottom:1px solid @corp-color;
}
.page-header-bar-menu {
  @font-color: #e5e5e5;
  list-style-type: none;
  margin: 0;
  float:right;
  .caret {
    border-top-color:white;
  }
  > li {
    float:left;
    position: relative;
    font-size:@font-size-small;
    line-height:@font-size-small * .8;
    margin: 6px;
    > a {color:white;font-weight: @font-weight-bold;}
    > span {color:@font-color;}
    +li {
      margin-left:20px;
      padding-left:20px;
      border-left:1px solid @font-color;
    }
  }
}


.page-header {
  font-size: @navbar-height * .6;
  line-height: @navbar-height * .6;
  padding: @navbar-height * .2 0;
  min-height: @navbar-height;
  font-weight: 300;
  color:@text-muted;
  float:left;
  > .template-icon {margin: -10px 15px;}
  &.tag-line {
    float:right;
    color:@corp-color;
  }
}

.header-btns {
    margin-top:@line-height-computed * -1 + 1px;
    margin-bottom:@line-height-computed;
    .btn {
      border-radius: 3 * @border-radius-large;
      border-top-left-radius:0;
      border-top-right-radius:0;
      border-width:1px;
      padding-left:45px;
      padding-right:45px;
      border-top:none;
      float:right;
      + .btn {
        margin:0 10px;
      }
    }
}


.page-wrapper {
  min-height:600px;
}


.footer {
  border-top:1px solid @corp-color;
  padding-top:30px;
  #gradient > .vertical(@navbar-bg, @body-bg);
}
.footer-link {
  .footer-link {
    display: block;
    line-height:2em;
    color:black;
    font-size:@font-size-small;
  }
}