.site-slogan {
  color:#000;
  font-weight:600;
  margin:0;
  line-height:1.3em;
  + h2 {
    margin: 0;
    line-height:1.3em;
  }
}
.homepage-signup-bar {
  margin-top:90px;
   >.intro {font-weight: 600;margin-bottom:25px;font-size:@font-size-large;}
}