.site-slogan {
  font-weight:600;
  margin:0;
  line-height:1.3em;
  + h2 {
    margin: 0;
    line-height:1.3em;
  }
}
.homepage-signup-bar {
  margin-top:90px;
   >.intro {font-weight: 600;font-size:@font-size-large;margin-bottom:0;}
   .btn-social {margin-top:25px;}
}