.expert-briefing {
  padding-top:5px;
  + .expert-briefing { border-top:1px solid #ccc; }
}

.expert-briefing .expander.btn-block {
  padding: 18px 0 21px;
  border: 0;
  border-radius: 0;
}
.expert-skills {
  height:2* @line-height-computed;
  overflow:hidden;
}

.expert-briefing, .service-briefing {
  margin-top:5px;
  margin-bottom:5px;
}


.stars + .btn {
  margin-top:5px;
}

