.container-constricted {max-width: 768px;}
.message-container {
  margin-bottom: @line-height-base;
}
.message-container.fixed {
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}


// Small grid columns
.generate-vertical-space(@lines) {
  .mar-top-X (@index) when (@index > 0) {
    .mar-top-@{index} { .mar-top-(@index); }
    .mar-top-X((@index - 1));
  }
  .mar-top-X (0) {}
  // Generate columns
  .mar-top-X(@lines);
  // Apply the styles
  .mar-top-(@rows) {
    margin-top: @line-height-computed * @rows;
  }
}
.generate-vertical-space(6);

.mar-top-half {margin-top: ceil(@line-height-computed / 2);}


.box-title {
  display: block;
  background-color: #ff792a;
  text-transform: uppercase;
  line-height: 2em;
  padding: 0 15px;
  margin:0;
  color: white;
  &.dark {
    background-color:@text-muted;
  }
}
.box-shaded {
  background-color: @body-bg-muted;
}

.empty {
  padding: @line-height-computed 0;
  color:@text-muted;
  font-weight: @font-weight-bold;
  text-align: center;
}


.disabled-overlay {
  position: absolute;
  height:100%;
  width:100%;
  background-color:rgba(255,255,255,.7);
  top:0;
  left:0;
  > .overlay-action {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -175px;
    width: 350px;
    text-align: center;
    &.larger {
      margin-left: -200px;
      width: 400px;
    }
  }
}