.logo-prefixed{
  &:before{
      content:".";color:transparent;
      display: inline-block;
      vertical-align: middle;
      float:left;
      margin-left:-24px;
      margin-right:8px;
      width:16px;
      height:16px;
      .background-image("../img/social-mini.png");
      background-repeat: no-repeat;
  }
  &.facebook:before {background-position: 0 0;}
  &.twitter:before {background-position: 0 -16px;}
  &.rss:before {background-position: 0 -32px;}
}


.social-btn(@x, @y, @bg-color) {
  @spriteSize: 40px;
  padding-left:@spriteSize + 30px;
  padding-right:30px;

  &:before{
      content:".";color:transparent;
      position: absolute;
      left:0;
      top:0;
      height:@spriteSize;
      width:@spriteSize;
      .background-image("../img/social-btns.png");
      background-repeat: no-repeat;
      background-position: @x @y;
  }
}

.btn-facebook{
  .social-btn(0, -46px, @color-facebook);
}
.btn-linkedin{
  .social-btn(0, -4px, @color-linkedin);
}
.btn-social-wrapper {
  margin-left:-20px;
  .btn {margin-left: 20px;}
}