<%inherit file="index.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../../widgets.html" name="widgets"/>

<%def name="applications(need, apps)">
    <div class="box-dark">
        <div class="box-content">
            ${self.applicationForm(view.schemas['Application'], values, errors)}
        </div>
    </div>
    ${parent.applications(need, apps)}
</%def>


<%def name="applicationForm(form, values, errors)">
    <form class="${form.grid.form_classes}" id="${form.id}" method="POST">
        ${baseform.prelims(form)}
        <div class="row mar-top-1" id="application-form">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="picture">
                            <img src="${root.user.picture}"/>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="name">${root.user.name}</div>
                        <p class="text-small">${html.nn(root.user.position)}</p>
                    </div>
                </div>
                <div class="row mar-top-1">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary">${_(u"Application.Form.BtnLabel:Submit Application")|n}</button>
                        <a href="${url(ctxt)}" class="btn btn-default">${_("Button:Cancel")|n}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 form-group">
                <textarea class="form-control x-high" name="${form.fieldMap['message'].getName(form.id)}" required></textarea>
            </div>
        </div>
    </form>
</%def>



<%def name="post_scripts()">
    <script>
        require(["tools/ajax"], function(ajax){
            $(".form-validated").each(function(idx, elem){
                ajax.ifyForm({root: elem});
            });
        });
    </script>
</%def>