<%inherit file="edit.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-title">
                    <span class="brand-primary" data-entity-property="name">${_(u"TaskSetup.Heading:Add a new task")|n}</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" data-entity-property="summary"></div>
        </div>
        <div class="row mar-top-2">
            <div class="col-lg-12">
                <div class="box-content box-dark">
                    <%self:build_form need="${need}" btn_label="Create Task" form="${view.form}" values="${values.get(view.form.id)}" errors="${errors.get(view.form.id)}" company="${ctxt.company}">
                        <%def name="cancel_button(form)">
                            <a href="${url(ctxt)}" class="btn btn-default">${_("Button:Cancel")|n}</a>
                        </%def>
                    </%self:build_form>
                </div>
            </div>
        </div>
    </div>
</%def>