<%inherit file="index.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../../widgets.html" name="widgets"/>


<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-title">
                    <span class="brand-primary" data-entity-property="name">${ctxt.need.name}</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
              <p data-entity-property="summary">${ctxt.need.summary}</p>
            </div>
        </div>
        <div class="row mar-top-2">
            <div class="col-lg-9">
                <div class="box-content box-dark">
                    <%self:build_form need="${ctxt.need}" btn_label="${'Save Changes' if ctxt.need.added else 'Add to Round'}" form="${view.form}" values="${values.get(view.form.id)}" errors="${errors.get(view.form.id)}" company="${ctxt.company}">
                        <%def name="cancel_button(form)">
                            <a href="${url(ctxt) if hasattr(ctxt, 'need') and ctxt.need.added else url(ctxt.__parent__)}" class="btn btn-default">Cancel</a>
                        </%def>
                    </%self:build_form>
                </div>

                <div class="mar-top-4">
                  <div id="getsat-widget-6841"></div>
                  <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
                  <script type="text/javascript">
                  if (typeof GSFN !== "undefined") { GSFN.loadWidget(6841,{"containerId":"getsat-widget-6841"}); }
                  </script>
                </div>
            </div>
            <div class="col-lg-3">
                %if ctxt.need.summary:
                    <div class="wtf-box active">
                        <h2 class="wtf-title">
                            ${_("TaskSetup.Help.Title")|n}
                        </h2>
                        <div class="wtf-content mar-top-1">
                            ${_("TaskSetup.Help.Text")|n}
                        </div>
                    </div>
                %endif
            </div>
        </div>

    </div>
</%def>





<%def name="build_form(need, btn_label, form, values, errors, company)">
    <form class="${form.grid.form_classes} labels-capitalized" id="${form.id}" method="POST">
        ${baseform.prelims(form)}

        ${form.fieldMap['name'].render(form.id, request, values, errors, view, grid = form.grid)|n}
        <div class="row">
            <div class="col-lg-3">
                ${form.fieldMap['picture'].render(form.id, request, values, errors, view, grid = form.grid)|n}
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                ${form.fieldMap['cash'].render(form.id, request, values, errors, view, grid = form.grid)|n}
                <div class="form-group">
                    <label class="control-label">
                        Total Value
                    </label>
                    <div class="pseudo-controls data-target total" data-currency-symbol="${company.currency_symbol}">
                        ${need.display_total(company.currency)}
                    </div>
                </div>
                ${form.fieldMap['parttime'].render(form.id, request, values, errors, view, grid = form.grid)|n}
            </div>
            <div class="col-lg-4">
                ${form.fieldMap['equity'].render(form.id, request, values, errors, view, grid = form.grid)|n}
            </div>
        </div>

        ${form.fieldMap['customText'].render(form.id, request, values, errors, view, grid = form.grid)|n}
        <div class="label-list">
            ${form.fieldMap['Tags'].render(form.id, request, values, errors, view, grid = form.grid)|n}
        </div>
        <div class="label-list">
            ${form.fieldMap['Services'].render(form.id, request, values, errors, view, grid = form.grid)|n}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">${btn_label}</button>
            ${caller.cancel_button(form)|n}
        </div>
    </form>
</%def>


<%def name="post_scripts()">
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script type="text/javascript">
        (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
    </script>
    <script>
        require(["views/company/need_edit"], function(View){
            filepicker.setKey('${settings.filepickerKey}');
            $(".form-validated").each(function(idx, form){
                new View({el:form})
            });
        });
      tinymce.init({selector: "textarea",
      plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
      ],
      toolbar: "undo redo | styleselect | bold italic | bullist numlist outdent indent | link image",

      });


    </script>
</%def>