<%inherit file="../../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="pageTitle()">
%if 's' in request.params:
    <div class="page-header">Task Setup</div>
    <div class="breadcrumbs">
        <div class="crumb">1</div>
        <div class="crumb">2</div>
        <div class="crumb active">3</div>
    </div>
%else:
    <div class="page-header">Round Tasks</div>
%endif
</%def>


<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                <div class="box-shaded">
                    <div class="box-title">
                        <div class="row">
                            <div class="col col-lg-6">
                                Tasks
                            </div>
                            <div class="col col-lg-3">
                                Expert
                            </div>
                            <div class="col col-lg-3">
                                Cloud Service
                            </div>
                        </div>
                    </div>
                    %for need in currentRound.Needs:
                        ${self.renderNeed(need)}
                    %endfor
                </div>
            </div>
        </div>
    </div>
</%def>

<%def name="renderNeed(need)">
<div class="single-task">
    <div class="row">
        <div class="col col-lg-6">
            <div class="need-title">${need.name}</div>
            <div class="need-description">Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
        </div>
        <div class="col col-lg-3">
            %if need.Expert:
                <div class="round-need-setup expert">
                    ${self.renderExpert(need.Expert)}
                </div>
            %endif
        </div>
        <div class="col col-lg-3">
            %if need.Service:
                <div class="round-need-setup services">
                    ${self.renderService(need.Service)}
                </div>
            %endif
        </div>
    </div>
</div>
</%def>


<%def name="renderExpert(expert)">
    <div class="need-box">
        <div class="profile-picture">
            <img src="${expert.getIntroPicture()}" class="img-thumbnail mini"/>
            </div>
        <div class="expert-title">Introducer</div>
        <p class="expert-name">${expert.getIntroName()}</p>
    </div>
    <div class="need-box">
        <div class="profile-picture">
            <img src="${expert.getExpertPicture()}" class="img-thumbnail mini"/>
        </div>
        <div class="expert-title">Expert</div>
        <p class="expert-name">${expert.getExpertName()}</p>
    </div>
    <hr class="clear corp-color"/>
    <a href="#" class="btn btn-primary btn-block">Send an Invitation</a>
</%def>

<%def name="renderService(service)">
    <div class="need-box">
        <div class="profile-picture">
            <img src="${service.getWorkerPicture()}" class="img-thumbnail mini"/>
        </div>
        <div class="expert-title">Crowd worker</div>
        <p class="expert-name">${service.getWorkerName()}</p>
    </div>
    <div class="need-box">
        <div class="profile-picture">
            <img src="${STATIC_URL}img/cloudservices.png" class=""/>
        </div>
        <div class="expert-title">Cloud Service</div>
        <div class="service-url" >${service.name}</div>
    </div>
    <hr class="clear corp-color"/>
    <a href="${service.url}" target="_blank" class="btn btn-primary btn-block">Use Cloud Service</a>
</%def>
