<%inherit file="../../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="pageTitle()"><div class="page-header">Setup Tasks</div></%def>

<%def name="content()">
    <div class="container container-constricted">
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="site-slogan">Pick a template, that might best describe your company's current stage and trajectory.</h1>
                <h2>No worries, everything can be customized later.</h2>
            </div>
        </div>
        %for row in templates:
            <div class="row template-list">
            <form class="${view.form.classes}" method="post" id="${view.form.id}">
                ${baseform.prelims(view.form)}

                %for i, t in enumerate(row):
                    <div class="col col-lg-6">
                        <div class="single-template">
                            <button type="submit" name="${view.form.id}.template" value="${t.name}" class="single-template-button ${t.getStyleKey()} no-btn">
                                <img src="${STATIC_URL}img/templates/${t.getStyleKey()}.png"/>
                                <span class="name">${t.name}</span>
                            </button>
                            <p class="description">
                                <strong>${t.name}</strong> is lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                            </p>
                        </div>
                    </div>
                %endfor
                </form>
            </div>
        %endfor
    </div>
</%def>

<%def name="post_scripts()">
    <script>
        require(["tools/ajax"], function(ajax){
            $(".form-validated").each(function(idx, elem){
                ajax.ifyForm({root: elem})
            });
        })
    </script>

</%def>