<%inherit file="layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="ufostart:templates/common/task.html" name="tasklib"/>

<%def name="slogan()">${self.crumbs(2)}</%def>
<%def name="sectionTitle()">${template.name}</%def>

<%def name="bodyContent()">
        <div class="row">
            <div class="col-sm-4">
              <div class="template-details">
                <div class="box-title">
                    ${_("TemplateDetails.BoxTitle")|n}
                </div>
                <div class="cut-corner">
                    <img src="${template.picture}"/>
                </div>
                <div class="number-widget mar-top-1">
                    <div class="thirds">
                        <div class="heading">Tasks</div>
                        <div class="value light">${len(template.Need)}</div>
                    </div><div class="thirds">
                        <div class="heading">Time Limit</div>
                        <div class="value light">30 <strong class="text-small">Days</strong></div>
                    </div>
                    <hr class="mar-top-half"/>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
                ${ template.description | html.html,n }

                <div class="mar-top-3">
                    <a href="${url(ctxt, 'startcompany')}" class="btn btn-primary btn-lg">${_("TemplateDetails.ProceedButton")|n}</a>
                    <a href="${root.template_select_url}" class="btn btn-link">${_("TemplateDetails.CancelButton")|n}</a>
                </div>
            </div>
        </div>
    <div class="row mar-top-3">
        <div class="col-lg-12">
            <div class="box-title">${_("TemplateDetails.TaskSection.Title")|n}</div>
        </div>
    </div>
    <div class="row">
        ${tasklib.public_task_cols(template.groupedNeeds(3))}
    </div>
</%def>



<%def name="wtfBox()">
    <div class="wtf-box active">
        <h2 class="wtf-title">
            ${_("TemplateDetails.Help.Title")|n}
        </h2>
        <div class="wtf-content mar-top-1">
            ${_("TemplateDetails.Help.Text")|n}
        </div>
    </div>
</%def>
