<%inherit file="layout.html"/>

<%def name="bcrumbs()"></%def>

<%def name="content()">
    <div class="padded-body">
        <a href="${url(ctxt, 'create')}" class="pull-right btn btn-primary">Create Service</a>
        <h3>All Services</h3>
        <div ng-controller="ServiceListCtrl">
            <div class="list-group">
                <div class="row list-group-item">
                    <div class="col-lg-3"><input type="text" ng-model="queryName" class="search-query form-control" placeholder="Search by Name"></div>
                </div>
                <div class="row list-group-item" ng-repeat="service in services | filter:query | orderBy:'name'">
                    <div class="col-lg-3">{{service.name}}</div>
                    <div class="col-lg-3">
                    <a href="{{service.url}}"><img class="thumbnail" style="width:50px;" src="{{service.logo}}"></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="${url(ctxt)}{{service.name}}/edit" class="btn btn-default edit-link">edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</%def>