<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../widgets.html" name="widgets"/>


<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-title">
                    <span class="brand-primary">Add a Mentor</span>
                </h1>
            </div>
        </div>
        <div class="row mar-top-1">
            <div class="col-lg-7">
                ${self.build_form(mentors, view.form, values, errors)}
            </div>
            <div class="col-lg-3 col-lg-offset-2">
                <div class="wtf-box">
                    <h2 class="wtf-title">
                        ${_("AddMentorPage.Help.Title")|n}
                    </h2>
                    <div class="wtf-content">
                        ${_("AddMentorPage.Help.Text")|n}
                    </div>
                </div>
            </div>
        </div>
    </div>
</%def>

<%def name="build_form(mentors, form, values, errors)">
    <form class="${form.grid.form_classes}" id="${form.id}" method="POST">
        ${baseform.prelims(form)}
        <div class="box-dark">
            <div class="box-content">

                <div class="mentor-list">
                    %for mentor in mentors:
                        <div class="single-mentor">
                            <div class="box-card extra-compact">

                                ${widgets.profile_pic(mentor.picture, mentor.token)}
                                <div class="right-box">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <a href="${root.profile_url(mentor.slug)}" class="entity-link">${mentor.name}</a>
                                            <p class="text-small">${mentor.headline if mentor.headline else '&nbsp;'|n}</p>
                                            %if mentor.token in ctxt.company.mentorTokens:
                                                <a class="btn btn-primary disabled">Already Invited</a>
                                            %else:
                                                <a href="${url(ctxt, 'topmentor')}?m=${mentor.token}" class="btn btn-primary">Invite as Mentor</a>
                                            %endif
                                        </div>
                                        <div class="col-lg-6">
                                            %if mentor.Companies:
                                            <h6>Mentor for these Startups</h6>
                                            <div class="face-pile-mini">
                                                %for company in mentor.Companies:
                                                    <div class="picture micro">
                                                        <a href="${root.company_url(company.slug)}"><img src="${company.logo}"/></a>
                                                    </div>
                                                %endfor
                                            </div>
                                            %endif
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    %endfor
                </div>
                <hr class="mar-top-2" style="margin-bottom:0;"/>
                <strong class="text-small">Or invite by name and email:</strong>
                <div class="mar-top-2">
                ${form.fieldMap['name'].render(form.id, request, values.get(form.id), errors.get(form.id), view, grid = form.grid)|n}
                ${form.fieldMap['email'].render(form.id, request, values.get(form.id), errors.get(form.id), view, grid = form.grid)|n}
                <div class="mar-top-1">
                    <button type="submit" class="btn btn-primary">Invite Mentor</button>
                    <a href="${url(ctxt)}" class="btn btn-default">Cancel</a>
                </div>
                </div>
            </div>
        </div>
    </form>
</%def>

<%def name="post_scripts()">
    <script>
        require(["tools/ajax"], function(ajax){
            $(".form-validated").each(function(idx, form){
                ajax.ifyForm({root: $(form)});
            })
        });
    </script>
</%def>