<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="need/index.html" name="compView"/>

<%def name="content()">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="notice notice-wtf mar-top-1">
          <div class="sidecrumb"></div>
          <div class="sidecrumb"></div>
          <div class="sidecrumb"></div>
          <div class="content">
            <h2>Hello ${ctxt.invite.name}</h2>
            <h4>
                ${ctxt.invite.invitorName} asks you to help out customizing
              <a class="link-underlined" href="${root.company_url(ctxt.invite.companySlug)}">${ctxt.company.display_name}'s</a>
              <a class="link-underlined" href="${root.need_url(ctxt.invite.companySlug, ctxt.need.slug)}">${ctxt.need.name}</a>
              need.
            </h4>
              %if root.user.isAnon():
                <h4>Please login to confirm.</h4>
                <div class="mar-top-2">
                  <a href="${root.auth_url("linkedin")}" class="btn btn-primary btn-linkedin">Log in with Linkedin</a>
                </div>
              %else:
                <div class="mar-top-2">
                  <a href="${url(ctxt, 'confirm')}" class="btn btn-primary">Confirm</a>
                  <a href="${url(ctxt, 'reject')}" class="btn btn-default">Reject</a>
                </div>
              %endif
          </div>
        </div>
      </div>
    </div>
  </div>
  ${compView.content(with_forms = False)}
</%def>