<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>

<%def name="content()">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="site-slogan">Get Started</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="site-slogan">Create your project or company</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mar-top-2">
            <div class="col-lg-12">
                ${self.build_form(view.form, values.get(view.form.id), errors.get(view.form.id))}
            </div>
        </div>
    </div>
</%def>


<%def name="build_form(form, values, errors)">
    <form class="${form.grid.form_classes}" id="${form.id}" method="POST">
        <div class="row">
            <div class="col-lg-6">
                ${baseform.prelims(form)}
                %for field in view.form.fields:
                    ${field.render(form.id, request, values, errors, view, grid = form.grid)|n}
                %endfor
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-4">
                        <button type="submit" class="btn btn-primary btn-block">Start up</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</%def>

<%def name="post_scripts()">
    <script>
        require(["tools/ajax"], function(ajax){
            ajax.ifyForm({root: $("#${view.form.id}")});
        });
    </script>
</%def>
