<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../widgets.html" name="widgets"/>

<%def name="content()">
    <div class="container">
        <%widgets:pageHeader>
            User Profile
        </%widgets:pageHeader>
        ${self.bodyContent(ctxt.profile)}
    </div>
</%def>

<%def name="bodyContent(profile)">
    <div class="row mar-top-1">
        <div class="col-lg-3">
            <div class="box-card">
                ${widgets.logo(profile.picture, alt=profile.name, classes="large")}
            </div>

            <div class="mar-top-1 brand-teal text-strong">${profile.name}</div>
            %if profile.headline:
                <p class="text-small">${profile.headline}</p>
            %endif

            <div class="mar-top-3">
                <div class="box-title">User Details</div>
                <div class="box-content box-dark-shaded">
                    <div class="number-widget">
                        <h6>Startup Value</h6>
                        <div class="value light">${profile.displayStartupValue}</div>
                    </div>

                    <div class="number-widget mar-top-1">
                        <h6>Companies</h6>
                        <div class="small-value">${len(profile.Companies)}</div>
                    </div>
                    <div class="row mar-top-1">
                        <div class="col-lg-6 number-widget">
                            <strong class="text-muted text-small">Mentoring</strong>
                            <div class="small-value">${len(profile.mentoredStartups)}</div>
                        </div>
                        <div class="col-lg-6 number-widget">
                            <strong class="text-muted text-small">Endorsements</strong>
                            <div class="small-value">${len(profile.getEndorsements())}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mar-top-3">
                ${widgets.sharebtns()}
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-${'6' if profile.Applications or profile.Endorsements else '12'}">
                    ${self.mentoredCompanies(profile.mentoredStartups)}
                    ${self.companies(profile.Companies)}
                </div>

                %if profile.Applications or profile.Endorsements:
                    <div class="col-lg-6">
                        ${self.applications(profile.Applications)}
                        ${self.displayEndorsements(profile.getEndorsements())}
                    </div>
                %endif
            </div>
        </div>
    </div>
</%def>

<%def name="mentoredCompanies(companies)">
    %if companies:
    <div class="box-title">Mentoring</div>
    %for company in companies:
        %if company.currentRound:
            <div class="single-company box-card compact">
                ${widgets.company_logo(company)}
                <div class="right-box">
                    <div class="overflow"><a href="${request.root.round_url(company.slug)}"><strong>${company.name}</strong></a></div>
                    %if company.currentRound.published:
                        <div><strong>${company.currentRound.getExpiryDays()}</strong></div>
                    %elif company.currentRound.pendingApproval:
                        <div><strong class="brand-primary">Pending Approval</strong></div>
                    %else:
                        <div>Round not published</div>
                    %endif
                </div>
            </div>
        %endif
    %endfor
        <div class="mar-top-3"></div>
    %endif
</%def>

<%def name="companies(companies)">
    <div class="box-title">Companies</div>
    %if len(companies):
        %for company in companies:
            <div class="single-company box-card compact">
                ${widgets.company_logo(company)}
                <div class="right-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="overflow"><a href="${root.round_url(company.slug)}"><strong>${company.name}</strong></a></div>
                            <small class="text-muted">Round 1</small>
                            %if company.currentRound and company.currentRound.published:
                                <div class="text-small">${company.currentRound.getExpiryDays()}</div>
                            %else:
                                <div class="text-small text-muted">Round not published</div>
                            %endif
                        </div><div class="col-lg-6">
                            <div class="member-pile face-pile-mini">
                                %for member in company.Users:
                                    ${widgets.member_pic(member, 'micro')}
                                %endfor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        %endfor
    %else:
        <div class="empty">
            No Companies yet<br/>
            <a href="${root.template_select_url}" class="btn btn-primary">Start a Company now</a>
        </div>
    %endif
</%def>


<%def name="applications(applications)">
    %if len(applications):
        <div class="box-title">Applications</div>
        %for application in applications:
            <div class="box-card compact single-company">
                ${widgets.app_company_logo(application, root.need_url(application.companySlug, application.needSlug))}
                <div class="right-box">
                    <div class="date-ear-mark">${application.display_date}</div>
                    <!-- TODO: check application.needToken -->
                    <div class="overflow"><a href="${root.need_url(application.companySlug, application.needSlug)}"><strong>${application.need}</strong></a></div>
                    <p class="overflow text-muted text-small">${application.companyName}</p>
                    <div class="application-message">${application.message | html.trunc(50)}</div>
                </div>
            </div>
        %endfor
        <div class="mar-top-3"></div>
    %endif
</%def>


<%def name="displayEndorsements(endorsements)">
    %if len(endorsements):
        <div class="box-title">Endorsements</div>
        %for endorsement in endorsements:
            <div class="box-card extra-compact single-company">
                ${widgets.logo(endorsement.endorserPicture)}
                <div class="right-box">
                    <div class="date-ear-mark">${endorsement.display_date}</div>
                    <div class="overflow"><a href="${root.profile_url(endorsement.endorserSlug)}"><strong>${endorsement.endorserName}</strong></a></div>
                    <p class="overflow text-small text-muted">${endorsement.endorserHeadline}</p>
                    <small>Endorsed ${ctxt.profile.name} for
                        <a class="brand-teal text-strong" href="${root.need_url(endorsement.companySlug, endorsement.needSlug)}">${endorsement.needName}</a> at
                        <a class="brand-teal text-strong" href="${root.round_url(endorsement.companySlug)}">${endorsement.companyName}</a>.
                    </small>
                </div>
            </div>
        %endfor
    %endif
</%def>

