<%inherit file="../layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="baseform"/>
<%namespace file="../widgets.html" name="widgets"/>

<%def name="content()">
    <div class="container">
        <%widgets:pageHeader>
            ${_("ProfilePage.Title")|n}
        </%widgets:pageHeader>
        <div class="row mar-top-1">
            <div class="col-lg-3">
                ${self.leftCol(ctxt.profile, ctxt.is_my_profile, ctxt.possessive_name)}
            </div>
            <div class="col-lg-9">
                ${self.bodyContent(ctxt.profile)}
            </div>
        </div>
    </div>
</%def>

<%def name="bodyContent(profile)">
    <div class="row">
        <div class="col-lg-${'6' if profile.Applications or profile.Endorsements else '12'}">
            ${self.mentoredCompanies(profile.mentoredStartups)}
            ${self.companies(profile.Companies)}
        </div>
        %if profile.Applications or profile.Endorsements:
            <div class="col-lg-6">
                ${self.applications(profile.Applications)}
                ${self.displayEndorsements(profile.getEndorsements())}
            </div>
        %endif
    </div>
    <div class="row mar-top-5">
        <div class="col-lg-6">
            ${self.contacts(ctxt.contacts)}
        </div>
        <div class="col-lg-6">
            ${self.contactCompanies(ctxt.companies)}
        </div>
    </div>
</%def>


<%def name="leftCol(profile, is_owner, possessive_name)">
    <div class="box-card">
        ${widgets.logo(profile.picture, alt=profile.name, classes="large")}
    </div>
    <div class="mar-top-1 brand-teal text-strong">${profile.name}</div>
    %if profile.headline:
        <p class="text-small">${profile.headline}</p>
    %endif

    <div class="mar-top-3 startup-value-container">
        <div class="box-title">${_("ProfilePage.UserInfoBox.Label.StartupValue")|n}</div>
        <div class="box-content box-dark-shaded">
            <div class="number-widget">
                <div class="pull-right">
                    <h4 class="section-expander show-contracted" data-toggle-target=".startup-value-container" data-toggle-class="expanded">What is a startup value?</h4>
                </div>
                <div class="value light">${profile.displayStartupValue}</div>
            </div>
        </div>
        <div class="box-content box-shaded show-expanded">
            <div class="pull-right">
                <a class="section-expander closer" data-toggle-target=".startup-value-container" data-toggle-class="expanded">Close</a>
            </div>
        %if is_owner:
            <small>${_("ProfilePage.StartupValue.ExplanationText:Your Profile")|n}</small>
        %else:
            <small>${_("ProfilePage.StartupValue.ExplanationText:Someone else profile")|n}</small>
        %endif
        </div>
        %if is_owner and not (profile.fbLink and profile.xingLink):
        <div class="box-content box-middle-shaded">
            <h6 class="no-margin text-muted">
                ${_("ProfilePage.StartupValue.ConnectPrompt:Increase your startup value by connecting with more social networks!")|n}
            </h6>
            <div class="mar-top-1">
            %if not profile.fbLink:
                <a href="${request.rld_url('facebook')}" class="btn action-icon-facebook">Connect Facebook</a>
            %endif
            %if not profile.xingLink:
                <a href="${request.rld_url('xing')}" class="btn action-icon-xing">Connect Xing</a>
            %endif
            </div>
        </div>
        %endif
    </div>




    <div class="mar-top-3">
        <div class="box-title">${_("ProfilePage.UserInfoBox.Title")|n}</div>
        <div class="box-content box-dark-shaded">
            %if len(profile.Companies):
            <div class="number-widget mar-top-1">
                <h6>${_("ProfilePage.UserInfoBox.Label.Companies")|n}</h6>
                <div class="small-value">${len(profile.Companies)}</div>
            </div>
            %endif
            %if profile.investmentAmount:
                <div class="number-widget mar-top-1">
                    <strong class="text-muted text-small">${_("ProfilePage.UserInfoBox.Label.InvestAmount")|n}</strong>
                    <div class="small-value">${profile.displayInvestment}</div>
                </div>
            %endif

            <div class="row mar-top-1">
                <div class="col-lg-6 number-widget">
                    <strong class="text-muted text-small">${_("ProfilePage.UserInfoBox.Label.Mentoring")|n}</strong>
                    <div class="small-value">${len(profile.mentoredStartups)}</div>
                </div>
                <div class="col-lg-6 number-widget">
                    <strong class="text-muted text-small">${_("ProfilePage.UserInfoBox.Label.Endorsements")|n}</strong>
                    <div class="small-value">${len(profile.getEndorsements())}</div>
                </div>
            </div>
        </div>
        %if profile.Skills:
            <div class="box-content box-middle-shaded">
                <div><strong>${_("ProfilePage.UserInfoBox.Label.Skills")|n}</strong></div>
                <small>${', '.join(profile.display_skills)}</small>
            </div>
        %endif
        %if profile.interests:
             <div class="box-content box-shaded">
                <div><strong>${_("ProfilePage.UserInfoBox.Label.Interests")|n}</strong></div>
                <small>${profile.interests}</small>
            </div>
        %endif
    </div>


    %if profile.xingLink or profile.fbLink:
    <div class="mar-top-3">
        <div class="box-title">
             ${possessive_name} Networks
        </div>
        <div class="box-shaded">
            <div class="box-shaded">
                <div class="box-content box-shaded">
                    %if profile.fbLink:
                        <a href="${profile.fbLink}" class="text-small social-facebook" target="_blank">${possessive_name} Facebook Profile</a>
                    %endif
                    %if profile.xingLink:
                        <a href="${profile.xingLink}" class="text-small social-xing" target="_blank">${possessive_name} Xing Profile</a>
                    %endif
                </div>
            </div>
        </div>
    </div>
    %endif

    <div class="mar-top-3">
        ${widgets.sharebtns()}
    </div>
</%def>



<%def name="contacts(people)">
    %if people:
        <div class="box-title">${_("ProfilePage.BoxTitle.YourContacts")|n}</div>
        %for profile in people:
            <div class="single-company box-card compact">
                ${widgets.member_pic(profile)}
                <div class="right-box">
                    <div class="overflow"><a href="${root.profile_url(profile.slug)}"><strong>${profile.name}</strong></a></div>
                    %if profile.headline:
                        <p class="text-small">${profile.headline}</p>
                    %endif
                    <h6>Startup Value</h6>
                    <div class="h2">${profile.displayStartupValue}</div>
                </div>
                <h6 class="clearfix">Skills</h6>
                <small>${', '.join(profile.display_skills)}</small>
            </div>
        %endfor
    %endif
</%def>

<%def name="contactCompanies(companies)">
    %if companies:
        <div class="box-title">${_("ProfilePage.BoxTitle.CompaniesYouKnow")|n}</div>
        %for company in companies:
            <div class="single-company box-card compact">
                ${widgets.company_logo(company)}
                <div class="right-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="overflow"><a href="${root.round_url(company.slug)}"><strong>${company.name}</strong></a></div>
                            %if company.pitch:
                                <p class="text-small">${company.pitch}</p>
                            %endif
                        </div>
                        <div class="col-lg-6">
                            <div class="member-pile face-pile-mini">
                                %for member in company.Users:
                                    ${widgets.member_pic(member, 'micro')}
                                %endfor
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="clearfix">Total Startup Value</h6>
                <div class="h2">${company.display_total_value}</div>
            </div>
        %endfor
    %endif
</%def>

<%def name="mentoredCompanies(companies)">
    %if companies:
    <div class="box-title">${_("ProfilePage.BoxTitle.Mentoring")|n}</div>
    %for company in companies:
        %if company.currentRound:
            <div class="single-company box-card compact">
                ${widgets.company_logo(company)}
                <div class="right-box">
                    <div class="overflow"><a href="${root.round_url(company.slug)}"><strong>${company.name}</strong></a></div>
                    %if company.currentRound.published:
                        <div><strong>${company.currentRound.getExpiryDays()}</strong></div>
                    %elif company.currentRound.pendingApproval:
                        <div><strong class="brand-primary">Pending Approval</strong></div>
                    %else:
                        <div>Round not published</div>
                    %endif
                </div>
            </div>
        %endif
    %endfor
        <div class="mar-top-3"></div>
    %endif
</%def>

<%def name="companies(companies)">
    <div class="box-title">${_("ProfilePage.BoxTitle.Companies")|n}</div>
    %if len(companies):
        %for company in companies:
            <div class="single-company box-card compact">
                ${widgets.company_logo(company)}
                <div class="right-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="overflow"><a href="${root.round_url(company.slug)}"><strong>${company.name}</strong></a></div>
                            <small class="text-muted">Round 1</small>
                            %if company.currentRound and company.currentRound.published:
                                <div class="text-small">${company.currentRound.getExpiryDays()}</div>
                            %else:
                                <div class="text-small text-muted">Round not published</div>
                            %endif
                        </div><div class="col-lg-6">
                            <div class="member-pile face-pile-mini">
                                %for member in company.Users:
                                    ${widgets.member_pic(member, 'micro')}
                                %endfor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        %endfor
    %else:
        <div class="empty">
            ${_("ProfilePage.BoxContent.NoCompaniesYet")|n}<br/>
            %if ctxt.is_my_profile:
                <a href="${root.template_select_url}" class="btn btn-primary">${_("ProfilePage.Button.CreateCompany")|n}</a>
            %endif
        </div>
    %endif
</%def>


<%def name="applications(applications)">
    %if len(applications):
        <div class="box-title">${_("ProfilePage.BoxTitle.Applications")|n}</div>
        %for application in applications:
            <div class="box-card compact single-company">
                ${widgets.app_company_logo(application, root.need_url(application.companySlug, application.needSlug))}
                <div class="right-box">
                    <div class="date-ear-mark">${application.display_date}</div>
                    <!-- TODO: check application.needToken -->
                    <div class="overflow"><a href="${root.need_url(application.companySlug, application.needSlug)}"><strong>${application.need}</strong></a></div>
                    <p class="overflow text-muted text-small">${application.companyName}</p>
                    <div class="application-message">${application.message | html.trunc(50)}</div>
                </div>
            </div>
        %endfor
        <div class="mar-top-3"></div>
    %endif
</%def>


<%def name="displayEndorsements(endorsements)">
    %if len(endorsements):
        <div class="box-title">${_("ProfilePage.BoxTitle.Endorsements")|n}</div>
        %for endorsement in endorsements:
            <div class="box-card extra-compact single-company">
                ${widgets.logo(endorsement.endorserPicture)}
                <div class="right-box">
                    <div class="date-ear-mark">${endorsement.display_date}</div>
                    <div class="overflow"><a href="${root.profile_url(endorsement.endorserSlug)}"><strong>${endorsement.endorserName}</strong></a></div>
                    <p class="overflow text-small text-muted">${endorsement.endorserHeadline}</p>
                    <small>Endorsed ${ctxt.profile.name} for
                        <a class="brand-teal text-strong" href="${root.need_url(endorsement.companySlug, endorsement.needSlug)}">${endorsement.needName}</a> at
                        <a class="brand-teal text-strong" href="${root.round_url(endorsement.companySlug)}">${endorsement.companyName}</a>.
                    </small>
                </div>
            </div>
        %endfor
    %endif
</%def>

